<section class="w-full h-full grid grid-cols-1 gap-4" style="grid-template-rows: auto 1fr auto">
  <section class="col-span-1 text-center">
    <p *ngIf="from !== 'wallet'" class="text-xs ">
      {{ 'COMMON_WORDS.FROM' | translate }}: <span class="opacity-80">{{ from }}</span>
    </p>

    <div class="w-full flex flex-col items-center">
      <p class="text-xs">
        <b>{{ 'COMMON_WORDS.NETWORK' | translate }}: <span class="opacity-80">{{ networkBeingUsed$ | async }}</span></b>
      </p>

      <p *ngIf="selectedAccount$ | async as selectedAccount"
         appClipboard [textToCopy]="selectedAccount.publicKey"
         class="text-xs  cursor-pointer">
        <b>{{ 'XDR_SIGNER.SIGN_WITH' | translate }}: <span class="opacity-80">{{ selectedAccount.publicKey | publicKey }}</span></b>
      </p>
    </div>
  </section>

  <section class="col-span-1 overflow-y-auto no-scrollbar">
    <dl>
      <dt class="text-off-white text-base font-bold mb-1 w-full">Envelope type:</dt>
      <dd class=" break-all text-sm mb-3 w-full">{{ transactionType$ | async }}</dd>
    </dl>

    <dl>
      <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.SEQUENCE_NUMBER' | translate }}:</dt>
      <dd class=" break-all text-sm mb-3 w-full">{{ sequenceNumber$ | async }}</dd>

      <ng-container *ngIf="source$ | async as source">
        <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.TRANSACTION_SOURCE' | translate }}:</dt>
        <dd appClipboard [textToCopy]="source"
            class=" break-all text-sm mb-3 w-full cursor-pointer">
          {{ source | publicKey }}
        </dd>
      </ng-container>

      <ng-container *ngFor="let operation of (operations$ | async); let i = index">

        <div class="w-full pt-2 mb-6 border-placeholder border-b-1 border-b-2" *ngIf="i !== 0"></div>

        <ng-container *ngIf="operation.type === 'createAccount'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.CREATE_ACCOUNT' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.DESTINATION' | translate }}:</dt>
          <dd appClipboard [textToCopy]="operation.destination" class=" break-all text-sm mb-3 w-full">{{ operation.destination | publicKey }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.STARTING_BALANCE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.startingBalance | number: '0.0-7' }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'payment'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.PAYMENT' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.DESTINATION' | translate }}:</dt>
          <dd appClipboard [textToCopy]="operation.destination" class=" break-all text-sm mb-3 w-full">{{ operation.destination | publicKey }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.CODE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.asset.code }}</dd>

          <ng-container *ngIf="operation.asset.issuer">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.ISSUER' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.asset.issuer }}</dd>
          </ng-container>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.AMOUNT' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.amount | number: '0.0-7' }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'changeTrust'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.CHANGE_TRUST' | translate }}</dd>

          <!--            We are using $any here because the types use functions and TS can't know which one is the correct-->
          <ng-container *ngIf="operation.line.getAssetType() === 'liquidity_pool_shares'">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.ASSET' | translate }} A:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ $any(operation).line.assetA.code }}</dd>
            <dd appClipboard [textToCopy]="$any(operation).line.assetA.issuer"
                class="cursor-pointer  break-all text-sm mb-3 w-full">{{ $any(operation).line.assetA.issuer | publicKey }}</dd>

            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.ASSET' | translate }} B:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ $any(operation).line.assetB.code }}</dd>
            <dd appClipboard [textToCopy]="$any(operation).line.assetB.issuer"
                class="cursor-pointer  break-all text-sm mb-3 w-full">{{ $any(operation).line.assetB.issuer | publicKey }}</dd>
          </ng-container>

          <ng-container *ngIf="operation.line.getAssetType() !== 'liquidity_pool_shares'">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.CODE' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ $any(operation.line).code }}</dd>

            <ng-container *ngIf="$any(operation.line).issuer">
              <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.ISSUER' | translate }}:</dt>
              <dd class=" break-all text-sm mb-3 w-full">{{ $any(operation.line).issuer }}</dd>
            </ng-container>
          </ng-container>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.LIMIT' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.limit | number: '0.0-7' }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'pathPaymentStrictSend' || operation.type === 'pathPaymentStrictReceive'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">
            <ng-container *ngIf="operation.type === 'pathPaymentStrictSend'">
              {{ 'XDR_SIGNER.STRICT_SEND' | translate }}
            </ng-container>

            <ng-container *ngIf="operation.type !== 'pathPaymentStrictSend'">
              {{ 'XDR_SIGNER.STRICT_RECEIVE' | translate }}
            </ng-container>
          </dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.DESTINATION' | translate }}:</dt>
          <dd appClipboard [textToCopy]="operation.destination" class=" break-all text-sm mb-3 w-full">{{ operation.destination | publicKey }}</dd>

          <ng-container *ngIf="operation.type === 'pathPaymentStrictSend'">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.SENDING_AMOUNT' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.sendAmount | number: '0.0-7' }}</dd>
          </ng-container>

          <ng-container *ngIf="operation.type === 'pathPaymentStrictReceive'">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.MAX_TO_SEND' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.sendMax | number: '0.0-7' }}</dd>
          </ng-container>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.SENDING_ASSET' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.sendAsset.code }}</dd>

          <ng-container *ngIf="operation.type === 'pathPaymentStrictSend'">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.DEST_MIN' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.destMin | number: '0.0-7' }}</dd>
          </ng-container>

          <ng-container *ngIf="operation.type === 'pathPaymentStrictReceive'">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.DEST_AMOUNT' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.destAmount | number: '0.0-7' }}</dd>
          </ng-container>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.DEST_ASSET' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.destAsset.code }}</dd>

          <!--          TODO: add the path-->
        </ng-container>

        <ng-container *ngIf="operation.type === 'manageBuyOffer' || operation.type === 'manageSellOffer' || operation.type === 'createPassiveSellOffer'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">
            <ng-container *ngIf="operation.type === 'createPassiveSellOffer'">
              {{ 'OPERATIONS.PASSIVE_SELL_OFFER' | translate }}
            </ng-container>
            <ng-container *ngIf="operation.type === 'manageBuyOffer'">
              {{ 'OPERATIONS.BUY_OFFER' | translate }}
            </ng-container>
            <ng-container *ngIf="operation.type === 'manageSellOffer'">
              {{ 'OPERATIONS.SELL_OFFER' | translate }}
            </ng-container>
          </dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.ASSET_SELLING' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.selling.code }}</dd>

          <ng-container *ngIf="operation.selling.issuer">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.SELLING_ISSUER' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.selling.issuer }}</dd>
          </ng-container>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.ASSET_BUYING' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.buying.code }}</dd>

          <ng-container *ngIf="operation.buying.issuer">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.BUYING_ISSUER' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.buying.issuer }}</dd>
          </ng-container>

          <ng-container *ngIf="operation.type === 'manageBuyOffer'">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.AMOUNT_TO_BUY' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.buyAmount | number: '0.0-7' }}</dd>
          </ng-container>

          <ng-container *ngIf="operation.type === 'manageSellOffer'">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.AMOUNT_TO_SELL' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.amount | number: '0.0-7' }}</dd>
          </ng-container>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.PRICE_PER_UNIT_BUY' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.price | number: '0.0-7' }}</dd>

          <ng-container *ngIf="operation.type !== 'createPassiveSellOffer' && operation.offerId && operation.offerId != '0'">
            <dt class="text-off-white text-base font-bold mb-1 w-full">ID:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.offerId }}</dd>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="operation.type === 'setOptions'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.SET_OPTIONS' | translate }}</dd>

          <ng-container *ngIf="!!operation.inflationDest">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.INFLATION_DESTINATION' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.inflationDest }}</dd>
          </ng-container>

          <ng-container *ngIf="!!operation.clearFlags">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'OPERATIONS.CLEAR_FLAGS' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.clearFlags }}</dd>
          </ng-container>

          <ng-container *ngIf="!!operation.setFlags">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'OPERATIONS.SET_FLAGS' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.setFlags }}</dd>
          </ng-container>

          <ng-container *ngIf="!!operation.masterWeight || operation.masterWeight == 0">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'OPERATIONS.MASTER_KEY_WEIGHT' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.masterWeight }}</dd>
          </ng-container>

          <ng-container *ngIf="!!operation.lowThreshold || operation.lowThreshold == 0">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'OPERATIONS.LOW_THRESHOLD' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.lowThreshold }}</dd>
          </ng-container>

          <ng-container *ngIf="!!operation.medThreshold || operation.medThreshold == 0">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'OPERATIONS.MED_THRESHOLD' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.medThreshold }}</dd>
          </ng-container>

          <ng-container *ngIf="!!operation.highThreshold || operation.highThreshold == 0">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'OPERATIONS.HIGH_THRESHOLD' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.highThreshold }}</dd>
          </ng-container>

          <ng-container *ngIf="!!operation.homeDomain || operation.homeDomain === ''">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'OPERATIONS.HOME_DOMAIN' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.homeDomain }}</dd>
          </ng-container>

          <ng-container *ngIf="!!operation.signer">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.SIGNER' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.signer | json }}</dd>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="operation.type === 'allowTrust' || operation.type === 'setTrustLineFlags'">
          <ng-container *ngIf="operation.type === 'allowTrust'">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.ALLOW_TRUST' | translate }}</dd>

            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.AUTHORIZED' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.authorize }}</dd>

            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.CODE' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.assetCode }}</dd>
          </ng-container>

          <ng-container *ngIf="operation.type === 'setTrustLineFlags'">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.SET_TRUSTLINE_FLAGS' | translate }}</dd>

            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.CODE' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.asset.code }}</dd>

            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.ISSUER' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.asset.issuer }}</dd>

            <ng-container *ngIf="operation.flags.authorized">
              <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.AUTHORIZED' | translate }}:</dt>
              <dd class=" break-all text-sm mb-3 w-full">{{ operation.flags.authorized }}</dd>
            </ng-container>

            <ng-container *ngIf="operation.flags.authorizedToMaintainLiabilities">
              <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'OPERATIONS.AUTHORIZED_MAINTAIN' | translate }}:</dt>
              <dd class=" break-all text-sm mb-3 w-full">{{ operation.flags.authorizedToMaintainLiabilities }}</dd>
            </ng-container>

            <ng-container *ngIf="operation.flags.clawbackEnabled">
              <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.CLAWBACK_ENABLED' | translate }}:</dt>
              <dd class=" break-all text-sm mb-3 w-full">{{ operation.flags.clawbackEnabled }}</dd>
            </ng-container>
          </ng-container>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TRUSTOR' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.trustor }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'accountMerge'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.ACCOUNT_MERGE' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.DESTINATION' | translate }}:</dt>
          <dd appClipboard [textToCopy]="operation.destination" class=" break-all text-sm mb-3 w-full">{{ operation.destination | publicKey }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'manageData'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.MANAGE_DATA' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.NAME' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.name }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.VALUE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.value }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'bumpSequence'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.BUMP_SEQUENCE' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'OPERATIONS.BUMP_TO' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.bumpTo }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'claimClaimableBalance'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.CLAIM_CB' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">ID:</dt>

          <!--            We understand this is not a public key but we want to hide it mostly-->
          <dd appClipboard [textToCopy]="operation.balanceId"
              class=" break-all text-sm mb-3 w-full cursor-pointer">
            {{ operation.balanceId | publicKey }}
          </dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'createClaimableBalance'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.CREATE_CB' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.AMOUNT' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.amount }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.CODE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.asset.code }}</dd>

          <ng-container *ngIf="operation.asset.issuer">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.ISSUER' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.asset.issuer }}</dd>
          </ng-container>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.CLAIMANTS' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">
            <ul>
              <li class="w-full mb-4" *ngFor="let claimant of operation.claimants">
                <div class="w-full">
                  <p class=" text-sm cursor-pointer" appClipboard [textToCopy]="claimant.destination">
                    <span class="text-off-white text-base font-bold mr-1">{{ 'COMMON_WORDS.RECIPIENT' | translate }}:</span> {{ claimant.destination | publicKey }}
                  </p>
                </div>

                <ng-template #predicateTemplate let-predicateValue="predicateValue">
                  <section class="pl-4 border-label border-l-2">
                    <div *ngIf="!predicateValue._value" class="w-full">
                      <p class="">
                        {{ 'XDR_SIGNER.CAN_CLAIM_NO_CONDITIONS' | translate }}
                      </p>
                    </div>

                    <div *ngIf="predicateValue._arm === 'absBefore'" class="w-full">
                      <p class="">
                        <b class="text-off-white">{{ 'COMMON_WORDS.UNTIL' | translate }}:</b> {{ dateFromEpoch(predicateValue._value.low) | date: 'MMM dd, yyyy HH:mm' }}
                      </p>
                    </div>

                    <div *ngIf="predicateValue._arm === 'relBefore'" class="w-full">
                      <p class="">
                        <b class="text-off-white">{{ 'COMMON_WORDS.AFTER' | translate }}:</b> {{ predicateValue._value.low }} seconds
                      </p>
                    </div>

                    <ng-container *ngIf="predicateValue._arm === 'andPredicates'" class="w-full">
                      <div class="w-full">
                        <b class="text-off-white">{{ 'COMMON_WORDS.AND' | translate }}:</b>

                        <ng-container *ngFor="let predicate of predicateValue._value">
                          <ng-template
                            [ngTemplateOutlet]="predicateTemplate"
                            [ngTemplateOutletContext]="{ predicateValue: predicate }">
                          </ng-template>
                        </ng-container>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="predicateValue._arm === 'orPredicates'" class="w-full">
                      <div class="w-full">
                        <b class="text-off-white">{{ 'COMMON_WORDS.OR' | translate }}:</b>

                        <ng-container *ngFor="let predicate of predicateValue._value">
                          <ng-template
                            [ngTemplateOutlet]="predicateTemplate"
                            [ngTemplateOutletContext]="{ predicateValue: predicate }">
                          </ng-template>
                        </ng-container>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="predicateValue._arm === 'notPredicate'" class="w-full">
                      <div class="w-full">
                        <b class="text-off-white">{{ 'COMMON_WORDS.NOT' | translate }}:</b>

                        <ng-template
                          [ngTemplateOutlet]="predicateTemplate"
                          [ngTemplateOutletContext]="{ predicateValue: predicateValue._value }">
                        </ng-template>
                      </div>
                    </ng-container>
                  </section>

                </ng-template>

                <ng-template
                  [ngTemplateOutlet]="predicateTemplate"
                  [ngTemplateOutletContext]="{ predicateValue: claimant.predicate }">
                </ng-template>

              </li>
            </ul>
          </dd>

        </ng-container>

        <ng-container *ngIf="operation.type === 'beginSponsoringFutureReserves'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.BEGIN_SPONSORING_FUTURE_RESERVES' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.SPONSORED' | translate }} ID:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.sponsoredId }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'endSponsoringFutureReserves'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.END_SPONSORING_FUTURE_RESERVES' | translate }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'revokeAccountSponsorship'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.REVOKE_ACCOUNT_SPONSORSHIP' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.REVOKE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.ACCOUNT_SPONSORSHIP' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.ACCOUNT' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.account }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'revokeTrustlineSponsorship'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'XDR_SIGNER.REVOKE_TRUST_SPONSORSHIP' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.ACCOUNT' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.account }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.CODE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.asset.code }}</dd>

          <ng-container *ngIf="!!operation.asset.issuer">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.ISSUER' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.asset.issuer }}</dd>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="operation.type === 'revokeOfferSponsorship'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'XDR_SIGNER.REVOKE_OFFER_SPONSORSHIP' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">ID:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.offerId }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.SELLER' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.seller }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'revokeDataSponsorship'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'XDR_SIGNER.REVOKE_DATA_SPONSORSHIP' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.NAME' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.name }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.ACCOUNT' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.account }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'revokeClaimableBalanceSponsorship'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'XDR_SIGNER.REVOKE_CB_SPONSORSHIP' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">ID:</dt>
          <dd appClipboard [textToCopy]="operation.balanceId" class=" break-all text-sm mb-3 w-full">{{ operation.balanceId | publicKey }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'revokeLiquidityPoolSponsorship'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'XDR_SIGNER.REVOKE_LP_SPONSORSHIP' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">ID:</dt>
          <dd appClipboard [textToCopy]="operation.liquidityPoolId" class=" break-all text-sm mb-3 w-full">{{ operation.liquidityPoolId | publicKey }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'revokeSignerSponsorship'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'XDR_SIGNER.REVOKE_SIGNER_SPONSORSHIP' | translate }}</dd>

          <ng-container *ngIf="operation.signer.preAuthTx">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.AUTH_TX' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.signer.preAuthTx }}</dd>
          </ng-container>

          <ng-container *ngIf="operation.signer.ed25519PublicKey">
            <dt class="text-off-white text-base font-bold mb-1 w-full">Stellar {{ 'COMMON_WORDS.ACCOUNT' | translate }}:</dt>
            <dd appClipboard [textToCopy]="operation.signer.ed25519PublicKey" class=" break-all text-sm mb-3 w-full">{{ operation.signer.ed25519PublicKey | publicKey }}</dd>
          </ng-container>

          <ng-container *ngIf="operation.signer.sha256Hash">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.HASH' | translate }}:</dt>
            <dd class=" break-all text-sm mb-3 w-full">{{ operation.signer.sha256Hash }}</dd>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="operation.type === 'clawback'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.CLAWBACK' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.AMOUNT' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.amount }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.FROM' | translate }}:</dt>
          <dd appClipboard [textToCopy]="operation.from" class=" break-all text-sm mb-3 w-full cursor-pointer">{{ operation.from | publicKey }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.CODE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.asset.code }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.ISSUER' | translate }}:</dt>
          <dd appClipboard [textToCopy]="operation.asset.issuer" class=" break-all text-sm mb-3 w-full cursor-pointer">{{ operation.asset.issuer | publicKey }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'clawbackClaimableBalance'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.CLAWBACK_CLAIMABLE_BALANCE' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">ID:</dt>
          <dd appClipboard [textToCopy]="operation.balanceId" class=" break-all text-sm mb-3 w-full cursor-pointer">{{ operation.balanceId | publicKey }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'liquidityPoolDeposit'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.LP_DEPOSIT' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">ID:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.liquidityPoolId }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.MAX_AMOUNT' | translate }} A:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.maxAmountA | number: '0.0-7' }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.MAX_AMOUNT' | translate }} B:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.maxAmountB | number: '0.0-7' }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'OPERATIONS.MIN_PRICE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.minPrice | number: '0.0-7' }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'OPERATIONS.MAX_PRICE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.maxPrice | number: '0.0-7' }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'liquidityPoolWithdraw'">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.TYPE' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ 'OPERATIONS.WITHDRAW_LP' | translate }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">ID:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.liquidityPoolId }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.AMOUNT' | translate }}:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.amount | number: '0.0-7' }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.MIN_AMOUNT' | translate }} A:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.minAmountA | number: '0.0-7' }}</dd>

          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.MIN_AMOUNT' | translate }} B:</dt>
          <dd class=" break-all text-sm mb-3 w-full">{{ operation.minAmountB | number: '0.0-7' }}</dd>
        </ng-container>

        <ng-container *ngIf="operation.type === 'invokeHostFunction'">
          <ng-container *ngFor="let func of invokeFunctions$ | async">
            <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'XDR_SIGNER.INVOKE_HOST_FUNCTION' | translate }}:</dt>
            <nz-tree [nzData]="func" nzShowLine [nzShowIcon]="true"></nz-tree>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!!operation.source">
          <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.SOURCE' | translate }}:</dt>
          <dd appClipboard [textToCopy]="operation.source" class=" break-all text-sm mb-3 w-full">{{ operation.source | publicKey }}</dd>
        </ng-container>

      </ng-container>

      <div class="py-4"></div>

      <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.FEE' | translate }}:</dt>
      <dd class=" break-all text-sm mb-3 w-full">{{ (fee$ | async) }} XLM</dd>

      <ng-container *ngIf="memoText$ | async">
        <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.MEMO' | translate }}:</dt>
        <dd class=" break-all text-sm mb-3 w-full">{{ (memoText$ | async) }}</dd>
      </ng-container>
    </dl>
  </section>

  <section class="col-span-1 flex flex-wrap">
    <div class="w-6/12 mb-[1rem] pr-2">
      <button (click)="export()"
              nz-button
              nzType="primary"
              nzSize="large"
              nzGhost nzBlock>
        Copy XDR
      </button>
    </div>
    <div class="w-6/12 mb-[1rem] pl-2">
      <button (click)="signAndSport()"
              nz-button
              nzType="primary"
              nzSize="large"
              nzGhost nzBlock>
        Sign & Copy
      </button>
    </div>

    <div class="w-6/12 flex-1 pr-2">
      <button (click)="onClose()"
              nz-button
              nzType="primary"
              nzSize="large"
              nzBlock nzDanger>
        {{ 'COMMON_WORDS.REJECT' | translate }}
      </button>
    </div>

    <div class="w-6/12 flex-1 pl-2">
      <button (click)="signAndEmit()"
              nz-button
              nzType="primary"
              nzSize="large"
              nzBlock>
        {{ 'COMMON_WORDS.ACCEPT' | translate }}
      </button>
    </div>
  </section>
</section>
