<section class="container mx-auto w-full p-4 mb-4">
  <nz-breadcrumb class="flex">
    <nz-breadcrumb-item class="flex items-center">
      <a class="flex items-center" routerLink="/">
        <i class="fa-solid fa-home"></i>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="flex items-center">
      <a class="flex items-center" routerLink="/settings">
        Settings
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="flex items-center">
      <a class="flex items-center">
        Anti SPAM
      </a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</section>

<section class="w-full flex justify-center items-center">
  <section class="max-w-lg w-full py-4">

    <section class="w-full flex flex-col">
      <section class="w-full mb-4">
        <nz-list>
          <nz-list-item class="px-4">
            <p class="m-0 font-semibold">
              {{ 'SETTINGS.ANTI_SPAM.OPTIONS_COMPONENT.BY_PUBLIC_KEY' | translate }}
            </p>
            <button [routerLink]="['public-keys']" nz-button class="flex items-center justify-center">
              <i nz-icon nzType="right" nzTheme="outline"></i>
            </button>
          </nz-list-item>
          <nz-list-item [routerLink]="['claimable-assets']" class="px-4">
            <p class="m-0 font-semibold">
              {{ 'SETTINGS.ANTI_SPAM.OPTIONS_COMPONENT.FILTER_CB' | translate }}
            </p>
            <button nz-button class="flex items-center justify-center">
              <i nz-icon nzType="right" nzTheme="outline"></i>
            </button>
          </nz-list-item>
        </nz-list>
      </section>

      <section class="w-full px-4" routerLink="/settings">
        <button nzSize="large" nz-button class="w-full">
          {{ 'COMMON_WORDS.GO_BACK' | translate }}
        </button>
      </section>
    </section>

  </section>
</section>
