<section [appLoading]="sendingOffer$ | async" class="h-full w-full">
  <div class="w-full text-center mb-4">
    <h2 class="m-0 p-0 mb-4 text-off-black font-bold text-xl">
      Offer Details
    </h2>

    <p class="text-xs text-label">
      Offer ID: {{ offer.id }}
    </p>
  </div>

  <section class="w-full mb-8">
    <dl>
      <dt class="text-off-black text-base font-bold mb-1">Last time updated:</dt>
      <dd class="break-all text-label text-sm mb-3">
        {{ offer.last_modified_time | date: 'short' }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">You are selling:</dt>
      <dd class="break-all text-label text-sm mb-3">
        {{ sellingAmount | number: '0.0-7' }} {{ sellingAssetCode }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">You are buying:</dt>
      <dd class="text-label text-sm mb-3">
        {{ buyingAmount | number: '0.0-7' }} {{ buyingAssetCode }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">Pair rate:</dt>
      <dd class="text-label text-sm mb-3">
        1 {{ sellingAssetCode }} = {{ offer.price | number: '0.0-7' }} {{ buyingAssetCode }}
      </dd>
    </dl>
  </section>

  <div class="w-full">
    <button [disabled]="sendingOffer$ | async" (click)="onCancel()" class="w-full btn btn-error-alternative btn--small">
      Cancel this offer
    </button>
  </div>

</section>
