<div class="w-full text-left mb-4">
  <h2 class="m-0 p-0 mb-4 text-off-black font-bold text-xl">
    Offer Details
  </h2>

  <p class="text-xs text-label">
    Modified at: Mar 03rd, 2021
  </p>
</div>

<section class="w-full mb-8">
  <dl>
    <dt class="text-off-black text-base font-bold mb-1">You are selling:</dt>
    <dd class="break-all text-label text-sm mb-3">0.0432165 BTC</dd>

    <dt class="text-off-black text-base font-bold mb-1">You are buying:</dt>
    <dd class="text-label text-sm mb-3">1966.23 EURT</dd>

    <dt class="text-off-black text-base font-bold mb-1">Pair rate:</dt>
    <dd class="text-label text-sm mb-3">1 BTC = 45497.19 EURT</dd>
  </dl>
</section>

<div class="w-full">
  <button class="w-full btn btn-error-alternative btn--small">
    Cancel this offer
  </button>
</div>
