<section class="h-full w-full relative">
  <div class="w-full text-center mb-4">
    <h2 class="m-0 p-0 font-bold text-xl">
      {{ 'SETTINGS.SET_DEFAULT_FEE.TITLE' | translate }}
    </h2>
  </div>

  <section class="mb-2">
    <div class="w-full">
      <input nz-input nzSize="large" type="text"
             pattern="[0-9]*"
             [formControl]="defaultFeeControl">
    </div>
  </section>

  <div class="w-full text-center opacity-80 mb-7">
    <ng-container *ngIf="(recommendedFee$ | async) as recommendedFee; else recommendedFeNotLoaded">
      {{ 'COMMON_WORDS.RECOMMENDED' | translate }}: {{ recommendedFee }}
    </ng-container>
    <ng-template #recommendedFeNotLoaded>
      1 Stroop = 0.0000001 XLM
    </ng-template>
  </div>

  <div class="w-full mb-4 relative">
    <nz-spin [nzSpinning]="gettingRecommendedFee$ | async">
      <button nz-button nzBlock nzSize="large"
              (click)="onGetRecommendedFee()"
              [disabled]="gettingRecommendedFee$ | async">
        {{ 'SETTINGS.SET_DEFAULT_FEE.GET_RECOMMENDED' | translate }}
      </button>
    </nz-spin>
  </div>

  <div class="w-full">
    <button nz-button nzType="primary" nzBlock nzSize="large"
            [disabled]="defaultFeeControl.invalid"
            (click)="onSubmit()">
      {{ 'SETTINGS.SET_DEFAULT_FEE.SET' | translate }}
    </button>
  </div>
</section>

