<section class="h-full w-full relative">
  <div class="w-full text-center mb-4">
    <h2 class="m-0 p-0 text-off-black font-bold text-xl">
      Set default fee
    </h2>
  </div>

  <form class="mb-2">
    <div class="w-full">
      <app-input mode="light"
                 title="Fee expressed in troops"
                 [formControl]="defaultFeeControl"
                 mask="0000000"
                 iconPath="/assets/icons/world-net.svg">
      </app-input>
    </div>
  </form>

  <div class="w-full text-center text-label mb-7">
    <ng-container *ngIf="(recommendedFee$ | async) as recommendedFee; else recommendedFeNotLoaded">
      Recommended fee is: {{ recommendedFee }}
    </ng-container>
    <ng-template #recommendedFeNotLoaded>
      1 Troop = 0.0000001 XLM
    </ng-template>
  </div>

  <div class="w-full mb-4 relative" [appLoading]="gettingRecommendedFee$ | async">
    <button [disabled]="gettingRecommendedFee$ | async"
            (click)="onGetRecommendedFee()" class="btn btn--small btn-primary btn-primary--outline w-full">
      Get recommended fee
    </button>
  </div>

  <div class="w-full">
    <button [disabled]="defaultFeeControl.invalid"
            (click)="onSubmit()"
            class="w-full btn btn-success-alternative btn--small">
      Set fee
    </button>
  </div>
</section>

