<section class="w-full h-full px-6 py-6 flex flex-col">
  <section class="w-full mb-4">
    <nz-breadcrumb class="flex">
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center" routerLink="/">
          <i nz-icon nzType="home" nzTheme="outline"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item  class="flex items-center">
        <a class="flex items-center" routerLink="/settings">
          Settings
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item  class="flex items-center">
        <a class="flex items-center" routerLink="/settings/anti-spam">
          Anti SPAM
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item  class="flex items-center">
        Claimable
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </section>

  <section *ngIf="showEmpty$ | async; else list" class="w-full my-auto">
    <nz-empty [nzNotFoundContent]="emptyContent">
    </nz-empty>
    <ng-template #emptyContent></ng-template>
  </section>

  <ng-template #list>
    <section *ngIf="claimableAssets$ | async as claimableAssets" class="w-full overflow-y-auto no-scrollbar mb-auto">
      <nz-table [nzFrontPagination]="false"
                nzSize="small" #basicTable
                [nzData]="claimableAssets">
        <thead>
        <tr>
          <th>Code</th>
          <th>Issuer</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.assetCode}}</td>

            <td appClipboard [textToCopy]="data.assetIssuer" class="cursor-pointer">
              {{data.assetIssuer | publicKey}}
            </td>

            <td class="flex justify-center items-center">
              <button nz-button nz-popconfirm
                      nzPopconfirmTitle="Are you sure?"
                      nzOkText="Remove"
                      nzCancelText="Cancel"
                      [nzIcon]="iconTpl"
                      (nzOnConfirm)="onRemove(data.assetCode, data.assetIssuer)"
                      class="flex items-center justify-center">
                <i nz-icon nzType="close" nzTheme="outline"></i>
              </button>
              <ng-template #iconTpl>
                <i nz-icon nzType="question-circle-o" class="text-error"></i>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </section>
  </ng-template>


  <section class="w-full flex flex-col justify-center items-center mb-4">
    <div [formGroup]="addAssetForm" class="w-full flex flex-wrap">
      <div class="w-6/12 pr-1 mb-2">
        <nz-input-group nzAddOnBefore="Code">
          <input formControlName="assetCode" nz-input type="text" placeholder="Ex: USDC">
        </nz-input-group>
      </div>
      <div class="w-6/12 pl-1 mb-2">
        <nz-input-group nzAddOnBefore="Issuer">
          <input formControlName="assetIssuer" nz-input type="text" placeholder="Ex: GTGERNJFQWO">
        </nz-input-group>
      </div>

      <div class="w-full mb-2">
        <button (click)="onAdd()"
                class="w-full mb-3"
                [disabled]="addAssetForm.invalid"
                nz-button nzType="primary">
          Add
        </button>
      </div>
    </div>

    <small class="text-center text-label">
      Assets listed here will be ignored in the
      <br>
      "Claimable Balance" section
    </small>
  </section>

  <section class="w-full" [routerLink]="['../']">
    <button nz-button class="w-full">
      Go back
    </button>
  </section>
</section>
