<section class="h-full w-full flex flex-col px-6 py-8 container max-w-md mx-auto">
  <div class="w-full flex justify-center items-center mb-6">
    <img src="/assets/icons/xbull-icon.svg" class="h-16" alt="xbull-logo">
  </div>

  <div class="w-full flex flex-wrap mb-4">
    <p class="text-off-white w-full font-semibold mb-4 text-center">
      This is your Mnemonic phrase
    </p>

    <div class="cursor-pointer" appClipboard [textToCopy]="mnemonicPhraseFormControl.value">
      <textarea class="w-full resize-none pointer-events-none"
                nz-input nzSize="large"
                cols="30" rows="6">{{ mnemonicPhraseFormControl.value }}</textarea>
    </div>
  </div>

  <div class="w-full text-center px-6 mb-auto">
    <small class="text-placeholder">
      Copy and save these words in a safe place, this is the only time we will show it to you and is not possible to recover it
    </small>
  </div>

  <div class="w-full flex flex-wrap">
    <button nz-button nzType="primary" nzSize="large"
            (click)="onContinue()"
            class="w-full mb-4">
      Continue
    </button>
    <button nz-button nzSize="large"
            routerLink="/create-account"
            class="w-full">
      Start again
    </button>
  </div>

  <div class="w-full text-center mt-8">
    <small class="text-label text-base">
      xBull Wallet {{ walletVersion }}
    </small>
  </div>
</section>
