<section class="min-h-full w-full flex flex-col px-4 py-8 container max-w-md mx-auto">
  <div class="w-full flex justify-center items-center mb-6">
    <img src="/assets/icons/xbull-dark.svg" class="h-20" alt="xbull-logo">
  </div>

  <div class="w-full flex flex-wrap mb-4">
    <p class="w-full font-semibold mb-4 text-center">
      {{ 'CREATE_ACCOUNT.THIS_YOUR_PHRASE' | translate }}
    </p>

    <textarea class="w-full resize-none pointer-events-none"
              nz-input nzSize="large"
              cols="30" rows="6">{{ mnemonicPhraseFormControl.value }}</textarea>
  </div>

  <div class="w-full text-center mb-4">
    <p class="opacity-80 text-sm m-0">
      {{ 'CREATE_ACCOUNT.SAFE_PLACE' | translate }}
    </p>
  </div>

  <div class="w-full flex flex-wrap mt-auto">
    <button nz-button nzType="primary" nzSize="large"
            (click)="onContinue()"
            class="w-full mb-4">
      {{ 'COMMON_WORDS.CONTINUE' | translate }}
    </button>
    <button nz-button nzSize="large"
            routerLink="/create-account"
            class="w-full">
      {{ 'CREATE_ACCOUNT.START_AGAIN' | translate }}
    </button>
  </div>

  <div class="w-full text-center mt-8">
    <small class="opacity-80 text-base">
      xBull Wallet {{ walletVersion }}
    </small>
  </div>
</section>
