<section *ngIf="accountCreated$ | async; else accountNotCreated" class="flex flex-col h-full">
  <section class="w-full px-6 pt-6 pb-1">
    <app-segment [buttons]="[{
    text: 'Assets',
    value: 'asset',
    routeLink: '/wallet/assets'
  }, {
    text: 'Offers',
    value: 'offers',
    routeLink: '/wallet/offers'
  }, {
    text: 'Transactions',
    value: 'transactions',
    routeLink: '/wallet/transactions'
  }]"></app-segment>
  </section>

  <section class="w-full h-full overflow-y-auto no-scrollbar">
    <router-outlet></router-outlet>
  </section>
</section>

<ng-template #accountNotCreated>
  <section [appLoading]="showLoading$ | async" class="flex h-full items-center justify-center relative">
    <div class="w-10/12 text-center">
      <h1 class="text-off-white text-2xl mb-2">
        Your account <br> hasn't been created
      </h1>

      <p class="text-placeholder mb-8">
        Every account in the Stellar network needs at least <br> 1 XLM to be created.
      </p>

      <button (click)="openReceiveFundsModal()" class="btn btn-primary btn--small w-full">
        Receive funds
      </button>
    </div>
  </section>
</ng-template>
