<section class="w-full h-full flex flex-col justify-between">
  <header class="h-20 bg-ash flex px-4">
    <section class="container mx-auto max-w-md flex items-center justify-between">
      <div class="w-3/12">
        <img src="/assets/images/xbull-no-background.svg" class="h-11" alt="xbull-logo">
      </div>

      <div class="w-5/12 flex flex-col items-center">
        <p (click)="onAccountClicked()"
           class="border-b-2 border-transparent hover:border-placeholder transition cursor-pointer m-0 text-off-white font-bold">
          {{ (activeAccount$ | async)?.publicKey | publicKey }}
        </p>

        <p (click)="onHorizonApiClicked()"
           [class.text-sm]="!(advanceMode$ | async)"
           class="border-b-2 border-transparent hover:border-placeholder transition cursor-pointer m-0 text-placeholder">
          {{ (activeHorizonApi$ | async)?.name }}
        </p>
      </div>

      <div class="w-3/12"></div>
    </section>
  </header>

  <div class="h-full overscroll-contain overflow-y-scroll no-scrollbar container mx-auto max-w-md">
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-ash px-4 py-1">
    <section class="flex items-center justify-between container max-w-md mx-auto">
      <button nz-button
              nzType="text"
              class="flex flex-col items-center transition font-medium h-auto m-0 border-0"
              routerLink="/wallet"
              [class.text-label]="(activeIcon$ | async) !== 'wallet'"
              [class.hover:text-off-white]="(activeIcon$ | async) !== 'wallet'"
              [class.text-primary]="(activeIcon$ | async) === 'wallet'">

        <i class="text-lg" nz-icon nzType="credit-card" nzTheme="outline"></i>

        <span class="m-0" [class.text-off-white]="(activeIcon$ | async) === 'wallet'">
          Wallet
        </span>
      </button>

      <button nz-button
              nzType="text"
              class="flex flex-col items-center transition font-medium h-auto m-0 border-0"
              routerLink="/trade"
              [class.text-label]="(activeIcon$ | async) !== 'trade'"
              [class.hover:text-off-white]="(activeIcon$ | async) !== 'trade'"
              [class.text-primary]="(activeIcon$ | async) === 'trade'">

        <i class="text-lg" nz-icon nzType="swap" nzTheme="outline"></i>

        <span class="m-0" [class.text-off-white]="(activeIcon$ | async) === 'trade'">
          Trade
        </span>
      </button>

      <button nz-button
              nzType="text"
              class="flex flex-col items-center transition font-medium h-auto m-0 border-0"
              routerLink="/lab"
              *ngIf="advanceMode$ | async"
              [class.text-label]="(activeIcon$ | async) !== 'lab'"
              [class.hover:text-off-white]="(activeIcon$ | async) !== 'lab'"
              [class.text-primary]="(activeIcon$ | async) === 'lab'">

        <i class="text-lg" nz-icon nzType="experiment" nzTheme="outline"></i>

        <span class="m-0" [class.text-off-white]="(activeIcon$ | async) === 'lab'">
          Lab
        </span>
      </button>

      <button nz-button
              nzType="text"
              class="flex flex-col items-center transition font-medium h-auto m-0 border-0"
              routerLink="/settings"
              [class.text-label]="(activeIcon$ | async) !== 'settings'"
              [class.hover:text-off-white]="(activeIcon$ | async) !== 'settings'"
              [class.text-primary]="(activeIcon$ | async) === 'settings'">

        <i class="text-lg" nz-icon nzType="setting" nzTheme="outline"></i>

        <span class="m-0" [class.text-off-white]="(activeIcon$ | async) === 'settings'">
          Settings
        </span>
      </button>
    </section>
  </footer>
</section>
