<section class="min-h-full w-full flex flex-col px-4 py-8 justify-between container max-w-md mx-auto">
  <div class="w-full flex justify-center items-center mb-6">
    <img src="/assets/icons/xbull-dark.svg" class="h-20" alt="xbull-logo">
  </div>

  <section class="mb-4" [formGroup]="form" (ngSubmit)="onContinue()">
    <div class="w-full flex flex-wrap mb-4">
      <nz-input-group nzSize="large" nzPrefixIcon="key">
        <input type="text"
               nz-input
               nzSize="large"
               formControlName="secretKey"
               [placeholder]="'FORM_PLACEHOLDERS.WRITE_SECRET' | translate" />
      </nz-input-group>
    </div>

    <div class="w-full flex flex-wrap">
      <nz-input-group nzSize="large" nzPrefixIcon="unlock">
        <input type="password"
               nz-input
               nzSize="large"
               formControlName="confirmPassword"
               [placeholder]="'FORM_PLACEHOLDERS.AGAIN_PASSWORD' | translate" />
      </nz-input-group>
    </div>
  </section>

  <div class="w-full text-center px-0">
    <p class="opacity-80 text-sm m-0 mb-4" [innerHTML]="'CREATE_ACCOUNT.SECRET_KEY_TYPE' | translate">
    </p>
  </div>

  <div class="w-full flex flex-wrap mt-auto">
    <button [disabled]="form.invalid"
            (click)="onContinue()"
            nz-button
            nzSize="large"
            nzType="primary"
            class="w-full mb-4">
      {{ 'COMMON_WORDS.CONFIRM' | translate }}
    </button>
    <button nz-button
            nzSize="large"
            routerLink="/create-account"
            class="w-full">
      {{ 'CREATE_ACCOUNT.START_AGAIN' | translate }}
    </button>
  </div>

  <div class="w-full text-center mt-8">
    <small class="opacity-80 text-base">
      xBull Wallet {{ walletVersion }}
    </small>
  </div>
</section>
