<section class="min-h-full w-full flex flex-col px-6 py-8 justify-between container max-w-md mx-auto">
  <div class="w-full flex justify-center items-center mb-6">
    <img src="/assets/icons/xbull-icon.svg" class="h-20" alt="xbull-logo">
  </div>

  <form class="mb-4" [formGroup]="form" (ngSubmit)="onContinue()">
    <div class="w-full flex flex-wrap mb-4">
      <nz-input-group nzSize="large" nzPrefixIcon="key">
        <input type="text"
               nz-input
               nzSize="large"
               formControlName="secretKey"
               placeholder="Write your secret key" />
      </nz-input-group>
    </div>

    <div class="w-full flex flex-wrap">
      <nz-input-group nzSize="large" nzPrefixIcon="unlock">
        <input type="password"
               nz-input
               nzSize="large"
               formControlName="confirmPassword"
               placeholder="Type again your password" />
      </nz-input-group>
    </div>
  </form>

  <div class="w-full text-center px-0">
    <p class="text-placeholder text-sm m-0 mb-4">
      You're creating a <b>secret keys wallet</b>, this kind of wallet don't have words you could use to restore it. Please keep a copy of your private keys before you import them.
    </p>
  </div>

  <div class="w-full flex flex-wrap mt-auto">
    <button [disabled]="form.invalid"
            (click)="onContinue()"
            nz-button
            nzSize="large"
            nzType="primary"
            class="w-full mb-4">
      Confirm
    </button>
    <button nz-button
            nzSize="large"
            routerLink="/create-account"
            class="w-full">
      Start again
    </button>
  </div>

  <div class="w-full text-center mt-8">
    <small class="text-label text-base">
      xBull Wallet {{ walletVersion }}
    </small>
  </div>
</section>
