<div class="w-full text-center mb-4">
  <h2 class="m-0 p-0 text-off-black font-bold text-xl">
    Asset: CREIT
  </h2>
</div>

<section class="w-full mb-8">
  <dl>
    <dt class="text-off-black text-base font-bold mb-1">Issuer:</dt>
    <dd class="break-all text-label text-sm mb-3">GCUQHK6HKPBP24RL5VK73BFAFAQ5IYDQ4TJGDUBW2UU52PIWTJAUBWJC</dd>

    <dt class="text-off-black text-base font-bold mb-1">Name:</dt>
    <dd class="text-label text-sm mb-3">Crypto Real State Investment Token</dd>

    <dt class="text-off-black text-base font-bold mb-1">Description:</dt>
    <dd class="text-label text-sm mb-3">CREIT is Creit Tech's coin and is used to buy tokenized properties around the world offered by the company.</dd>

    <dt class="text-off-black text-base font-bold mb-1">Condition:</dt>
    <dd class="text-label text-sm mb-3">
      There will only ever be 1,000,000,000 CREIT tokens in existence. Owners of property tokens adquired with CREIT
      tokens will receive income every time a property generates profit.
    </dd>

    <dt class="text-off-black text-base font-bold mb-1">Organization:</dt>
    <dd class="text-label text-sm mb-3">Creit Tech Solutions SpA</dd>

    <dt class="text-off-black text-base font-bold mb-1">Doing business as:</dt>
    <dd class="text-label text-sm mb-3">Creit Tech</dd>

    <dt class="text-off-black text-base font-bold mb-1">Description:</dt>
    <dd class="text-label text-sm mb-3">Creit Tech is the company who wants to break the breach that limit the mayority of people who try to invest in the real state market by removing the multiple limitations the banks and goverments have created </dd>

    <dt class="text-off-black text-base font-bold mb-1">Website:</dt>
    <dd class="text-label text-sm mb-3">https://creit.tech/</dd>

    <dt class="text-off-black text-base font-bold mb-1">Address: </dt>
    <dd class="text-label text-sm mb-3">4 Norte #1154 501, Talca, Maule 346000, Chile</dd>

    <dt class="text-off-black text-base font-bold mb-1">E-mail address:</dt>
    <dd class="text-label text-sm mb-3">soporte@creit.tech</dd>
  </dl>
</section>

<section class="w-full flex">
  <div class="flex-1 pr-2">
    <button class="w-full btn btn--small btn-error-alternative">Remove</button>
  </div>
  <div class="flex-1 pl-2">
    <button class="w-full btn btn--small btn-off-black">Send</button>
  </div>
</section>
