<section class="min-h-full w-full flex flex-col px-4 py-8 justify-between container max-w-md mx-auto">
  <div class="w-full flex justify-center items-center mb-14">
    <img src="/assets/icons/xbull-dark.svg" class="h-20" alt="xbull-logo">
  </div>

  <div class="w-full flex flex-wrap mb-4">
    <nz-input-group nzSize="large" nzPrefixIcon="unlock">
      <input type="password"
             nz-input
             nzSize="large"
             [formControl]="passwordFormControl"
             placeholder="Password (min 8 characters)" />
    </nz-input-group>
  </div>

  <div class="w-full text-center px-4 mb-4">
    <p class="opacity-80 text-sm m-0 mb-4">
      {{ 'CREATE_ACCOUNT.SET_PASSWORD' | translate }}
    </p>

    <p class="opacity-80 text-sm m-0">
      <b>{{ 'CREATE_ACCOUNT.DONT_FORGET' | translate }}</b>
      <br>
      {{ 'CREATE_ACCOUNT.CANT_UPDATE' | translate }}
    </p>
  </div>

  <div class="w-full flex flex-wrap mt-auto">
    <button [disabled]="passwordFormControl.invalid"
            (click)="onContinue()"
            nz-button
            nzSize="large"
            nzType="primary"
            class="w-full mb-4">
      {{ 'COMMON_WORDS.CONTINUE' | translate }}
    </button>

    <button routerLink="/create-account"
            nz-button
            nzSize="large"
            class="w-full">
      {{ 'CREATE_ACCOUNT.START_AGAIN' | translate }}
    </button>
  </div>

  <div class="w-full text-center mt-8">
    <small class="opacity-80 text-base">
      xBull Wallet {{ walletVersion }}
    </small>
  </div>
</section>
