<section class="h-full w-full flex flex-col px-6 py-8 justify-between">
  <div class="w-full flex justify-center items-center mb-14">
    <img src="/assets/icons/xbull-icon.svg" class="h-16" alt="xbull-logo">
  </div>

  <div class="w-full flex flex-wrap">
    <app-input title="Password" type="password"></app-input>
  </div>

  <div class="w-full text-center px-6 my-auto">
    <p class="text-off-white text-sm m-0 mb-4">
      Set a password for your Wallet, this password will be used to encrypt, lock and transact with your wallet.
    </p>

    <p class="text-off-white text-sm m-0">
      <b>DO NOT FORGET IT</b>
      <br>
      It can’t be updated if the Wallet is locked.
    </p>
  </div>

  <div class="w-full flex flex-wrap">
    <button routerLink="/create-account/generate-password" class="w-full btn btn-primary btn--small mb-6">
      Continue
    </button>
    <button routerLink="/create-account" class="w-full btn btn-primary btn--small btn-primary--outline">
      Start again
    </button>
  </div>

  <div class="w-full text-center mt-8">
    <small class="text-label text-base">
      xBull Wallet 0.2.3
    </small>
  </div>
</section>
