<section class="min-h-full w-full flex flex-col px-4 py-8 justify-between container max-w-md mx-auto">
  <div class="w-full flex justify-center items-center mb-14">
    <img src="/assets/icons/xbull-icon.svg" class="h-20" alt="xbull-logo">
  </div>

  <div class="w-full flex flex-wrap mb-4">
    <nz-input-group nzSize="large" nzPrefixIcon="unlock">
      <input type="password"
             nz-input
             nzSize="large"
             [formControl]="passwordFormControl"
             placeholder="Password (min 8 characters)" />
    </nz-input-group>
  </div>

  <div class="w-full text-center px-4 mb-4">
    <p class="text-placeholder text-sm m-0 mb-4">
      Set a password for your Wallet, this password will be used to encrypt, lock and transact with your wallet.
    </p>

    <p class="text-placeholder text-sm m-0">
      <b class="text-off-white">DO NOT FORGET IT</b>
      <br>
      It can’t be updated if the Wallet is locked.
    </p>
  </div>

  <div class="w-full flex flex-wrap mt-auto">
    <button [disabled]="passwordFormControl.invalid"
            (click)="onContinue()"
            nz-button
            nzSize="large"
            nzType="primary"
            class="w-full mb-4">
      Continue
    </button>

    <button routerLink="/create-account"
            nz-button
            nzSize="large"
            class="w-full">
      Start again
    </button>
  </div>

  <div class="w-full text-center mt-8">
    <small class="text-label text-base">
      xBull Wallet {{ walletVersion }}
    </small>
  </div>
</section>
