<section class="w-full h-full flex flex-col gap-4">
  <dl class="w-full">
    <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.ORIGIN' | translate }}:</dt>
    <dd class=" break-all text-sm mb-3 w-full">{{ origin }}</dd>

    <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.HOST' | translate }}:</dt>
    <dd class=" break-all text-sm mb-3 w-full">{{ host }}</dd>

    <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'COMMON_WORDS.DATE' | translate }}:</dt>
    <dd class=" break-all text-sm mb-3 w-full">{{ now | date: 'short' }}</dd>

    <dt class="text-off-white text-base font-bold mb-1 w-full">{{ 'SITES_PERMISSIONS.ASKING_FOR' | translate }}:</dt>
    <dd class=" break-all text-sm mb-3 w-full">{{ 'SITES_PERMISSIONS.ASK_TO_SIGN' | translate }}</dd>
    <dd class=" break-all text-sm mb-3 w-full">{{ 'SITES_PERMISSIONS.GET_PUBLIC_KEY' | translate }}</dd>
  </dl>

  <div class="w-full mt-auto text-center">
    <small class="opacity-70 max-w-xs mx-auto">Only accept connections from sites you trust</small>
  </div>

  <div class="w-full flex gap-[1rem]">
    <button (click)="onClose()"
            class="w-full"
            nz-button
            nzDanger
            nzSize="large"
            nzType="primary">
      {{ 'COMMON_WORDS.REJECT' | translate }}
    </button>

    <button (click)="onAccept()"
            class="w-full"
            nz-button
            nzSize="large"
            nzType="primary">
      {{ 'COMMON_WORDS.CONFIRM' | translate }}
    </button>
  </div>
</section>
