<section class="w-full h-full flex flex-col py-4">
  <div class="w-full mb-2">
    <img class="mx-auto" src="/assets/images/xbull-no-background.svg" alt="xbull-wallet-logo">
  </div>

  <div class="w-full text-center mb-4 px-6">
    <h1 class="text-input font-bold text-lg mb-2">xBull Wallet</h1>
    <p class="text-label text-sm">
      xBull is a powerful but easy to use wallet which is aimed to serve as a bridge between websites/users and the Stellar Blockchain
    </p>
  </div>

  <ul class="flex flex-col w-full h-full mb-full overflow-y-scroll no-scrollbar">
    <li class="flex w-full cursor-pointer px-4 border-b-2 transition border-body hover:border-placeholder py-5 justify-between">
      <div class="w-auto px-2">
        <p class="m-0 text-sm font-bold text-off-white">
          Version of the wallet:
        </p>
      </div>
      <div class="w-auto px-2">
        <p class="text-label text-sm text-bold">
          0.1.0
        </p>
      </div>
    </li>

    <li class="cursor-pointer px-4 border-b-2 transition border-body hover:border-placeholder py-5">
      <a href="https://xbull.app?utm_source=Wallet&utm_medium=Extension&utm_campaign=organic" target="_blank" class="flex w-full justify-between">
        <div class="w-auto px-2">
          <p class="m-0 text-sm font-bold text-off-white">
            Documentation:
          </p>
        </div>
        <div class="w-auto px-2">
          <p class="text-label text-sm text-bold">
            >
          </p>
        </div>
      </a>
    </li>

    <li class="cursor-pointer px-4 border-b-2 transition border-body hover:border-placeholder py-5">
      <a href="https://github.com/Creit-Tech/xBull-Wallet" target="_blank" class="flex w-full justify-between">
        <div class="w-auto px-2">
          <p class="m-0 text-sm font-bold text-off-white">
            Source code:
          </p>
        </div>
        <div class="w-auto px-2">
          <p class="text-label text-sm text-bold">
            >
          </p>
        </div>
      </a>
    </li>
  </ul>
</section>
