/* poppins-regular - latin */
.poppins-family {
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./poppins-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('./poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
  url('./poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./poppins-v15-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('./poppins-v15-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./poppins-v15-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./poppins-v15-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('./poppins-v15-latin-600italic.woff') format('woff'), /* Modern Browsers */
  url('./poppins-v15-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./poppins-v15-latin-600italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('./poppins-v15-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./poppins-v15-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./poppins-v15-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('./poppins-v15-latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('./poppins-v15-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./poppins-v15-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('./poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
  url('./poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
