<section class="bg-body rounded-xl p-5 h-48">
  <div class="text-line font-semibold text-sm mb-4">
    <span>{{ title }}</span>
  </div>

  <label class="w-full" for="phrase">
    <textarea class="form-textarea bg-transparent w-full h-full	text-line border-none p-0 text-sm font-normal leading-6 resize-none"
              [disabled]="disabled"
              name="phrase" id="phrase">multiply between pizza pluck stem valve common typical squirrel police brown maple suspect alone arctic word hungry buyer height either size voice good purity</textarea>
  </label>
</section>

