<section class="flex flex-col h-full">
  <section class="w-full px-6 pt-5 mb-6">
    <app-segment [buttons]="[{
      text: 'Offer',
      value: 'offer',
      routeLink: '/trade/offer'
    }, {
      text: 'Limit',
      value: 'limit',
      routeLink: '/trade/limit'
    }, {
      text: 'Swap',
      value: 'swap',
      routeLink: '/trade/swap'
    }]"></app-segment>
  </section>

  <section class="w-full h-full overflow-y-auto no-scrollbar">
    <router-outlet></router-outlet>
  </section>
</section>
