<div class="back-background fixed top-0 left-0 h-screen w-screen transition"
     (click)="onClose()"
     [class.bg-off-black]="showModal$ | async"
     [class.opacity-90]="showModal$ | async"></div>

<section class="fixed bottom-0 left-1/2 -translate-x-1/2 w-screen bg-off-white rounded-t-3xl px-4 pb-6 pt-4 flex flex-col items-center transform transition duration-300 max-h-9/10 max-w-md"
         [appLoading]="loading"
         [class.translate-y-full]="!(showModal$ | async)">
  <button (click)="onClose()" class="text-error-alternative font-semibold text-sm p-2 mb-2">
    {{ 'COMMON_WORDS.CLOSE' | translate }}
  </button>

  <div class="w-full h-full overflow-y-auto no-scrollbar scroll-shadow">
    <ng-content></ng-content>
  </div>
</section>
