<section class="container mx-auto p-4">
  <section class="w-full">
    <nz-breadcrumb class="flex">
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center" routerLink="/">
          <i class="fa-solid fa-home"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center">
          Lab
        </a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </section>
</section>

<section class="w-full flex justify-center items-center">
  <section class="max-w-md w-full h-full flex flex-col justify-center items-center px-4">
    <div class="w-full mb-4">
      <button routerLink="/lab/import-xdr" nz-button class="w-full" nzSize="large" nzType="primary">
        {{ 'LAB.IMPORT_XDR' | translate }}
      </button>
    </div>

    <div class="w-full mb-4">
      <button routerLink="/lab/merge-account" nz-button class="w-full" nzSize="large" nzType="primary">
        {{ 'LAB.MERGE_ACCOUNT' | translate }}
      </button>
    </div>

    <div class="w-full mb-4">
      <button nz-button class="w-full" nzSize="large" nzType="primary" [disabled]="true">
        {{ 'LAB.BUILD_TRANSACTION' | translate }}
      </button>
    </div>

    <div class="w-full mb-4">
      <button nz-button class="w-full" nzSize="large" nzType="primary" [disabled]="true">
        {{ 'LAB.SIGN_MESSAGE' | translate }}
      </button>
    </div>
  </section>
</section>

<section class="w-full flex justify-center items-center">
  <section class="max-w-md w-full h-full flex flex-col justify-center items-center px-4">
    <small class="opacity-80 text-center">
      {{ 'LAB.NOTICE' | translate }}
    </small>
  </section>
</section>
