<section class="w-full h-full flex flex-col justify-center items-center px-6">
  <div class="w-full mb-4">
    <button routerLink="/lab/import-xdr" nz-button class="w-full" nzSize="large" nzType="primary">
      Import XDR (manually sign)
    </button>
  </div>

  <div class="w-full mb-4">
    <button nz-button class="w-full" nzSize="large" nzType="primary" [disabled]="true">
      Build transaction
    </button>
  </div>

  <div class="w-full mb-4">
    <button nz-button class="w-full" nzSize="large" nzType="primary" [disabled]="true">
      Sign message
    </button>
  </div>

  <div class="w-full mb-4">
    <button routerLink="/lab/claim-claimable-balance" nz-button class="w-full" nzSize="large" nzType="primary">
      Claim claimable Balance
    </button>
  </div>
</section>
