<section class="w-full h-full flex flex-col justify-center items-center px-6">
  <div class="w-full mb-4">
    <button routerLink="/lab/import-xdr" class="btn btn--small btn-primary w-full">
      Import XDR (manually sign)
    </button>
  </div>

  <div class="w-full mb-4">
    <button class="btn btn--small btn-primary w-full" [disabled]="true">
      Build transaction
    </button>
  </div>

  <div class="w-full mb-4">
    <button class="btn btn--small btn-primary w-full" [disabled]="true">
      Sign message
    </button>
  </div>

  <div class="w-full mb-4">
    <button routerLink="/lab/claim-claimable-balance" class="btn btn--small btn-primary w-full">
      Claim claimable Balance
    </button>
  </div>
</section>
