<section class="h-full w-full relative">
  <div class="w-full text-center mb-4">
    <h2 class="m-0 p-0 text-off-white font-bold text-xl">
      Sign with password
    </h2>
  </div>

  <form class="mb-2">
    <nz-input-group nzSize="large" nzAddOnBeforeIcon="key" class="w-full">
      <input type="password"
             placeholder="write here..."
             [formControl]="passwordField"
             nz-input nzSize="large" />
    </nz-input-group>
  </form>

  <div class="w-full text-center text-xs mb-7">
    Your password is used to decrypt your private key
  </div>

  <div class="w-full">
    <button (click)="onConfirm()"
            [disabled]="passwordField.invalid"
            class="w-full"
            nz-button
            nzSize="large"
            nzType="primary">
      Confirm
    </button>
  </div>
</section>
