<section class="w-full flex flex-col">
  <div class="w-full px-6 mb-4">
    <div class="w-full mb-4">
      <p class="m-0 text-label font-semibold">
        TRADE FROM
      </p>
    </div>

    <div *ngIf="selectOptions$ | async as selectOptions" class="w-full flex">
      <div class="w-6/12 pr-1">
        <app-select [options]="selectOptions"
                    mode="light" title="From Asset">
        </app-select>
      </div>

      <div class="w-6/12 pl-1">
        <app-input mask="0*.0000000" mode="light" title="Amount">
        </app-input>
      </div>
    </div>
  </div>

  <div class="w-full px-6 mb-8">
    <div class="w-full mb-4">
      <p class="m-0 text-label font-semibold">
        EXCHANGE FOR
      </p>
    </div>

    <div *ngIf="selectOptions$ | async as selectOptions" class="w-full flex">
      <div class="w-6/12 pr-1">
        <app-select [options]="selectOptions"
                    mode="light" title="To Asset">
        </app-select>
      </div>

      <div class="w-6/12 pl-1">
        <app-input mask="0*.0000000" mode="light" title="Amount">
        </app-input>
      </div>
    </div>
  </div>
</section>

<section class="w-full px-6 mb-8 flex">
  <div class="w-6/12 pr-2">
    <p class="m-0 text-label font-semibold mb-2">
      Your rate is:
      <br>
      1 BTC = 15,307.92308 SOL
    </p>
  </div>

  <div class="w-6/12 pl-2 text-right">
    <p class="m-0 text-label font-semibold mb-2">
      Recommended rate:
      <br>
      1 BTC = 13,307.92308 SOL
    </p>
  </div>
</section>

<section class="w-full px-6">
  <button class="w-full btn btn--small btn-success-alternative">
    Place offer
  </button>
</section>
