<app-modal-wrapper [showModal]="showModal" (close)="onClose()">
  <section class="h-full w-full relative">
    <div class="w-full text-center mb-4">
      <h2 class="m-0 p-0 text-off-black font-bold text-xl">
        {{ 'PASSWORD_MODAL.SIGN_WITH_PASSWORD' | translate }}
      </h2>
    </div>

    <form class="mb-2">
      <div class="w-full">
        <app-input type="password" mode="light" title="Password"
                   [formControl]="passwordField"
                   iconPath="/assets/icons/key.svg"></app-input>
      </div>
    </form>

    <div class="w-full text-center text-label mb-7">
      {{ 'PASSWORD_MODAL.REASON' | translate }}
    </div>

    <div class="w-full">
      <button (click)="onConfirm()" [disabled]="passwordField.invalid"
              class="w-full btn btn-success-alternative btn--small">
        {{ 'COMMON_WORDS.CONFIRM' | translate }}
      </button>
    </div>
  </section>
</app-modal-wrapper>
