<app-modal-wrapper [showModal]="showModal" (close)="onClose()">
  <div class="w-full text-center mb-4">
    <h2 class="m-0 p-0 text-off-black font-bold text-xl">
      Add new account
    </h2>
  </div>

  <ng-container *ngIf="(parentWallet$ | async) as parentWallet">

    <ng-container *ngIf="parentWallet.type === 'mnemonic_phrase'">
      <form class="flex flex-wrap w-full">
        <div class="w-full mb-4">
          <app-input type="password" mode="light" title="Password"
                     [formControl]="password"
                     iconPath="/assets/icons/key.svg"></app-input>
        </div>
      </form>

      <div class="w-full text-center text-label mb-7">
        Write your password to decrypt your wallet and add a new account
      </div>

      <div class="w-full">
        <button (click)="onConfirmMnemonicPhrase()" [disabled]="password.invalid"
                class="w-full btn btn-success-alternative btn--small">
          Confirm
        </button>
      </div>
    </ng-container>

  </ng-container>
</app-modal-wrapper>
