<section class="flex w-full justify-between md:justify-center items-center h-full">
  <div class="md:hidden w-3/12">
    <img src="/assets/icons/xbull-dark.png" class="h-11" alt="xbull-logo">
  </div>

  <div class="h-full w-6/12 md:w-auto flex items-center justify-center">
    <button (click)="openAccountHorizonSelector()" nz-button class="h-auto px-4" nzSize="small" nzType="text">
      GDJQ......JJCJ
      <br>
      <small>Main Network</small>
    </button>
  </div>

  <div class="md:hidden w-3/12 flex justify-end items-center">
    <button (click)="openMenu()" nz-button nzType="text" nzSize="large" class="flex items-center justify-center">
      <i class="text-xl" nz-icon nzType="menu" nzTheme="outline"></i>
    </button>
  </div>
</section>
