<section class="container mx-auto h-full">
  <section class="flex w-full justify-between items-center h-full">
    <div class="w-3/12 cursor-pointer" routerLink="/wallet">
      <img src="/assets/icons/xbull-dark.png" class="h-11 lg:hidden" alt="xbull-logo">
    </div>

    <div class="h-full w-6/12 flex items-center justify-center">
      <button (click)="openAccountHorizonSelector()" nz-button
              class="h-auto px-4 flex flex-col items-center" nzSize="small" nzType="text">
        <span class="font-bold">{{ ((selectedPublicKey$ | async) || '') | publicKey }}</span>
        <small class="opacity-80">{{ selectedHorizonApiName$ | async }}</small>
      </button>
    </div>

    <div class="hidden lg:flex w-3/12 grid grid-rows-1 grid-cols-2 gap-4 justify-end">
      <button nz-button nzType="primary" class="cols-span-1 row-span-1" routerLink="/wallet/payment">
        Send <i class="fa-solid fa-paper-plane ml-2"></i>
      </button>

      <button nz-button class="col-span-1 row-span-1" routerLink="/wallet/receive">
        Receive <i class="fa-solid fa-circle-arrow-down ml-2"></i>
      </button>
    </div>

    <div class="lg:hidden w-3/12 flex justify-end items-center">
      <button (click)="openMenu()" nz-button nzType="text" nzSize="large" class="flex items-center justify-center">
        <i class="text-xl" nz-icon nzType="menu" nzTheme="outline"></i>
      </button>
    </div>
  </section>
</section>
