<section class="h-full overscroll-contain overflow-y-scroll no-scrollbar">
  <ul>
    <app-asset-item *ngFor="let balanceRecord of (accountBalances$ | async); trackBy: trackByBalanceline"
                    [balanceLine]="balanceRecord"
                    (click)="assetDetails(balanceRecord)">
    </app-asset-item>
  </ul>

  <ul>
    <li *ngFor="let balanceRecord of (accountLpBalances$ | async); trackBy: trackByBalanceline"
        (click)="lpAssetDetails(balanceRecord)"
        class="w-full cursor-pointer px-4 border-b-2 transition border-label hover:border-placeholder py-4">
      <app-lp-asset-item [lpAssetId]="balanceRecord.liquidity_pool_id"
                         [sharesAmount]="balanceRecord.balance">
      </app-lp-asset-item>
    </li>
  </ul>
</section>

<section class="w-full p-4 flex justify-center">
  <div class="px-1">
    <button (click)="sendFunds()" nz-button nzType="primary" nzSize="large" class="flex items-center">
      <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
      Send
    </button>
  </div>

  <div class="px-1">
    <button (click)="receiveFunds()" nz-button nzType="primary" nzSize="large" class="flex items-center">
      <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
      Receive
    </button>
  </div>

  <div class="px-1">
    <button (click)="addAsset()" nz-button nzSize="large" class="flex items-center">
      Add
      <i nz-icon nzType="plus" nzTheme="outline"></i>
    </button>
  </div>
</section>
