<section class="h-full overscroll-contain overflow-y-scroll no-scrollbar">
  <ul>
    <app-asset-item *ngFor="let balanceRecord of (accountBalances$ | async)"
                    [balanceLine]="balanceRecord"
                    (click)="assetDetails(balanceRecord)">
    </app-asset-item>
  </ul>

  <ul>
    <app-lp-asset-item *ngFor="let balanceRecord of (accountLpBalances$ | async)"
                       [balanceLine]="balanceRecord"
                       (click)="assetDetails(balanceRecord)">
    </app-lp-asset-item>
  </ul>
</section>

<section class="w-full px-4 pb-6 pt-3 flex justify-center">
  <div class="px-1">
    <button (click)="sendFunds()" nz-button nzType="primary" nzSize="large" class="flex items-center">
      <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
      Send
    </button>
  </div>

  <div class="px-1">
    <button (click)="receiveFunds()" nz-button nzType="primary" nzSize="large" class="flex items-center">
      <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
      Receive
    </button>
  </div>

  <div class="px-1">
    <button (click)="addAsset()" nz-button nzSize="large" class="flex items-center">
      Add
      <i nz-icon nzType="plus" nzTheme="outline"></i>
    </button>
  </div>
</section>
