<section [appLoading]="removingWallet$ | async" class="w-full h-full flex flex-col py-4">
  <section class="w-full h-full flex flex-col overflow-y-scroll no-scrollbar mb-5">
    <div class="w-full px-4">
      <p class="text-label font-semibold text-sm px-2">
        Wallet details
      </p>
    </div>

    <ul class="w-full flex flex-col mb-5">
      <li class="pointer-events-none flex justify-between w-full cursor-pointer px-4 border-b-2 transition border-body hover:border-placeholder py-5">
        <div class="w-auto px-2">
          <p class="m-0 text-sm font-bold text-off-white">
            Wallet Name:
          </p>
        </div>
        <div class="w-auto px-2">
          <p class="text-label text-sm text-bold">
            {{ (wallet$ | async)?.name }}
          </p>
        </div>
      </li>

      <li class="pointer-events-none flex justify-between w-full cursor-pointer px-4 border-b-2 transition border-body hover:border-placeholder py-5">
        <div class="w-auto px-2">
          <p class="m-0 text-sm font-bold text-off-white">
            Wallet Type:
          </p>
        </div>
        <div class="w-auto px-2">
          <p class="text-label text-sm text-bold">
            {{ (wallet$ | async)?.type }}
          </p>
        </div>
      </li>
    </ul>

    <div class="w-full px-4">
      <p class="text-label font-semibold text-sm px-2">
        Wallet Accounts
      </p>
    </div>

    <ul class="w-full flex flex-col mb-5">
      <li *ngFor="let walletAccount of (groupedWalletAccounts$ | async)"
          [routerLink]="['./accounts', walletAccount.publicKey]"
          class="flex justify-between w-full cursor-pointer px-4 border-b-2 transition border-body hover:border-placeholder py-5">
        <div class="w-auto px-2">
          <p class="m-0 text-sm font-bold text-off-white">
            {{ walletAccount?.name }}
          </p>
        </div>
        <div class="w-auto px-2">
          <p class="text-label text-sm text-bold">
            {{ (walletAccount?.publicKey || '') | publicKey }}
          </p>
        </div>
      </li>

      <ng-container *ngIf="wallet$ | async as wallet">
        <li *ngIf="wallet.type !== 'ledger_wallet' && wallet.type !== 'trezor_wallet'" class="flex justify-center w-full px-4 pt-5">
          <div class="w-7/12 px-2 mb-4">
            <button (click)="onCreateAccount()"
                    nz-button
                    nzSize="large"
                    nzType="primary"
                    class="w-full">
              Create account
            </button>
          </div>
        </li>
      </ng-container>
    </ul>
  </section>

  <section class="w-full px-4 flex flex-wrap">
    <div class="w-6/12 px-2 mb-4">
      <button (click)="onRemove()"
              nz-button
              nzSize="large"
              nzType="primary"
              nzDanger
              class="w-full">
        Remove
      </button>
    </div>
    <div class="w-6/12 px-2 mb-4">
      <button (click)="onEditName()"
              nz-button
              nzSize="large"
              nzType="primary"
              class="w-full">
        Edit name
      </button>
    </div>
    <div class="w-full px-2">
      <button routerLink="/settings/wallets"
              nz-button
              nzSize="large"
              class="w-full flex items-center justify-center">
        <i class="fa-solid fa-arrow-left mr-2"></i>
        Go back
      </button>
    </div>
  </section>
</section>
