<section [appLoading]="removingWallet$ | async" class="container mx-auto p-4">
  <section class="w-full">
    <nz-breadcrumb class="flex">
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center" routerLink="/">
          <i class="fa-solid fa-home"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center">
          ...
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center" routerLink="/settings/wallets">
          Wallets
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center" routerLink="/settings/wallets">
          {{ (wallet$ | async)?.name }}
        </a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </section>
</section>

<section class="w-full flex justify-center items-center">
  <div class="max-w-lg w-full px-4">
    <nz-card class="w-full ant-card-no-padding py-4 mb-6">
      <section class="flex flex-col">

        <div class="w-full text-center mb-4">
          <h1 class="text-lg font-semibold">
            {{ 'SETTINGS.REGISTERED_WALLET_DETAILS.WALLET_DETAILS_TITLE' | translate }}
          </h1>
        </div>

        <nz-list class="mb-4" nzSize="large">
          <nz-list-item>
            <div class="w-auto">
              <p class="m-0 text-sm font-bold">
                {{ 'COMMON_WORDS.NAME' | translate }}:
              </p>
            </div>
            <div class="w-auto">
              <p class="text-sm text-bold opacity-80">
                {{ (wallet$ | async)?.name }}
              </p>
            </div>
          </nz-list-item>

          <nz-list-item>
            <div class="w-auto">
              <p class="m-0 text-sm font-bold">
                {{ 'COMMON_WORDS.TYPE' | translate }}:
              </p>
            </div>
            <div class="w-auto">
              <p class="text-sm text-bold opacity-80">
                {{ (wallet$ | async)?.type }}
              </p>
            </div>
          </nz-list-item>
        </nz-list>

        <ng-container *ngIf="wallet$ | async as wallet">
          <div class="w-full px-4">
            <button *ngIf="wallet.type !== 'ledger_wallet' && wallet.type !== 'trezor_wallet'"
                    (click)="onCreateAccount()"
                    nz-button
                    nzSize="large"
                    class="w-full">
              {{ 'SETTINGS.REGISTERED_WALLET_DETAILS.CREATE_ACCOUNT_BUTTON' | translate }}
            </button>
          </div>
        </ng-container>

      </section>
    </nz-card>
  </div>
</section>

<section class="w-full flex justify-center items-center">
  <div class="max-w-lg w-full">

    <div class="w-full px-4 mb-4">
      <p class="opacity-80 text-sm">
        {{ 'SETTINGS.REGISTERED_WALLET_DETAILS.WALLET_ACCOUNTS' | translate }}
      </p>
    </div>

    <nz-list class="mb-4" nzSize="large">
      <nz-list-item *ngFor="let walletAccount of (groupedWalletAccounts$ | async)"
                    [routerLink]="['./accounts', walletAccount.publicKey]"
                    class="cursor-pointer px-4">
        <div class="w-auto">
          <p class="m-0 text-sm font-bold">
            {{ walletAccount?.name }}
          </p>
        </div>
        <div class="w-auto">
          <p class="text-sm opacity-80">
            {{ (walletAccount?.publicKey || '') | publicKey }} <i class="fa-solid fa-chevron-right"></i>
          </p>
        </div>
      </nz-list-item>
    </nz-list>

    <div class="w-full flex flex-col mb-4">
      <section class="w-full px-2 flex flex-wrap">
        <div class="w-6/12 px-2 mb-4">
          <button (click)="onRemove()"
                  nz-button
                  nzSize="large"
                  nzType="primary"
                  nzDanger
                  class="w-full">
            {{ 'COMMON_WORDS.REMOVE' | translate }}
          </button>
        </div>
        <div class="w-6/12 px-2 mb-4">
          <button (click)="onEditName()"
                  nz-button
                  nzSize="large"
                  nzType="primary"
                  class="w-full">
            {{ 'SETTINGS.REGISTERED_WALLET_DETAILS.EDIT_NAME' | translate }}
          </button>
        </div>
        <div class="w-full px-2">
          <button routerLink="/settings/wallets"
                  nz-button
                  nzSize="large"
                  class="w-full flex items-center justify-center">
            <i class="fa-solid fa-arrow-left mr-2"></i>
            {{ 'COMMON_WORDS.GO_BACK' | translate }}
          </button>
        </div>
      </section>
    </div>

  </div>
</section>
