<section class="container mx-auto p-4">
  <section class="w-full">
    <nz-breadcrumb class="flex">
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center" routerLink="/">
          <i class="fa-solid fa-home"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center">
          Settings
        </a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </section>
</section>

<section class="w-full flex justify-center items-center">
  <div class="max-w-lg w-full">

    <nz-list nzSize="large">
      <nz-list-item class="px-4">
        <div class="w-8/12">
          <p class="m-0 text-sm font-bold">
            Advanced mode
          </p>
        </div>
        <div class="w-auto">
          <nz-switch [formControl]="advanceModeControl"></nz-switch>
        </div>
      </nz-list-item>

      <nz-list-item class="cursor-pointer px-4" routerLink="/settings/wallets">
        <div class="w-auto">
          <p class="m-0 text-sm font-bold">
            Wallets
          </p>
        </div>
        <div class="w-auto">
          <p class="opacity-80 text-sm text-bold">
            {{ (selectedWallet$ | async)?.name }} >
          </p>
        </div>
      </nz-list-item>

      <nz-list-item *ngIf="advanceMode$ | async" class="cursor-pointer px-4" routerLink="/settings/horizon-apis">
        <div class="w-auto">
          <p class="m-0 text-sm font-bold">
            Horizon APIs
          </p>
        </div>
        <div class="w-auto">
          <p class="opacity-80 text-sm text-bold">
            {{ (selectedHorizonApi$ | async)?.name }}
          </p>
        </div>
      </nz-list-item>

      <nz-list-item class="opacity-50 pointer-events-none px-4">
        <div class="w-8/12">
          <p class="m-0 text-sm font-bold">
            Language
          </p>
        </div>
        <div class="w-auto">
          <p class="opacity-80 text-sm text-bold">
            English
          </p>
        </div>
      </nz-list-item>

      <nz-list-item class="cursor-pointer px-4"
          (click)="conDefaultFeeClicked()">
        <div class="w-8/12 mr-auto">
          <p class="m-0 text-sm font-bold">
            Default Fee
          </p>
        </div>
        <div class="w-auto">
          <p class="opacity-80 text-sm text-bold">
            {{ defaultFee$ | async }} Stroops
          </p>
        </div>
      </nz-list-item>

      <nz-list-item *ngIf="advanceMode$ | async" class="cursor-pointer px-4" routerLink="/settings/active-operations-types">
        <div class="w-8/12">
          <p class="m-0 text-sm font-bold">
            Active operation types
          </p>
        </div>
        <div class="w-auto">
          <p class="opacity-80 text-sm">
            <b>></b>
          </p>
        </div>
      </nz-list-item>

      <nz-list-item class="cursor-pointer px-4" routerLink="/settings/sites-connected">
        <div class="w-8/12">
          <p class="m-0 text-sm font-bold">
            Sites connected
          </p>
        </div>
        <div class="w-auto">
          <p class="opacity-80 text-sm">
            <b>></b>
          </p>
        </div>
      </nz-list-item>

      <nz-list-item class="cursor-pointer px-4"
          routerLink="/settings/anti-spam">
        <div class="w-8/12 mr-auto">
          <p class="m-0 text-sm font-bold">
            Anti SPAM
          </p>
        </div>
        <div class="w-auto">
          <p class="opacity-80 text-sm">
            <b>></b>
          </p>
        </div>
      </nz-list-item>

      <nz-list-item class="cursor-pointer px-4"
          routerLink="/settings/background-image">
        <div class="w-8/12 mr-auto">
          <p class="m-0 text-sm font-bold">
            Background image
          </p>
        </div>
        <div class="w-auto">
          <p class="opacity-80 text-sm">
            <b>></b>
          </p>
        </div>
      </nz-list-item>

      <nz-list-item class="cursor-pointer px-4"
          routerLink="/settings/locking">
        <div class="w-8/12 mr-auto">
          <p class="m-0 text-sm font-bold">
            Lock settings
          </p>
        </div>
        <div class="w-auto">
          <p class="opacity-80 text-sm">
            <b>></b>
          </p>
        </div>
      </nz-list-item>

      <nz-list-item class="cursor-pointer px-4"
          routerLink="/settings/about">
        <div class="w-8/12 mr-auto">
          <p class="m-0 text-sm font-bold">
            About
          </p>
        </div>
        <div class="w-auto">
          <p class="opacity-80 text-sm">
            <b>></b>
          </p>
        </div>
      </nz-list-item>

    </nz-list>

  </div>
</section>

