<section class="w-full h-full flex flex-col py-4">
  <p class="text-label font-semibold text-sm px-6">
    Settings
  </p>

  <ul>
    <li class="flex w-full items-center justify-between cursor-pointer px-6 border-b-2 transition border-body hover:border-placeholder py-5">
      <div class="w-8/12">
        <p class="m-0 text-sm font-bold text-off-white">
          Advanced mode
        </p>
      </div>
      <div class="w-auto/12">
        <app-toggle></app-toggle>
      </div>
    </li>

    <li class="flex w-full items-center justify-between cursor-pointer px-6 border-b-2 transition border-body hover:border-placeholder py-5">
      <div class="w-8/12">
        <p class="m-0 text-sm font-bold text-off-white">
          Language
        </p>
      </div>
      <div class="w-auto/12">
        <p class="text-label text-sm text-semibold">
          English
        </p>
      </div>
    </li>

    <li class="flex w-full items-center  justify-between cursor-pointer px-6 border-b-2 transition border-body hover:border-placeholder py-5">
      <div class="w-8/12">
        <p class="m-0 text-sm font-bold text-off-white">
          Sites connected
        </p>
      </div>
      <div class="w-auto/12">
        <button class="text-lg font-bold text-off-white">></button>
      </div>
    </li>

    <li class="flex w-full cursor-pointer px-6 border-b-2 transition border-body hover:border-placeholder py-5">
      <div class="w-8/12 mr-auto">
        <p class="m-0 text-sm font-bold text-off-white">
          Anti SPAM
        </p>
      </div>
      <div class="w-auto/12">
        <button class="text-lg font-bold text-off-white">></button>
      </div>
    </li>
  </ul>
</section>
