<section class="h-full w-full flex flex-col px-6 py-8 justify-between container max-w-md mx-auto">
  <div class="w-full flex justify-center items-center mb-6">
    <img src="/assets/icons/xbull-icon.svg" class="h-16" alt="xbull-logo">
  </div>

  <form [formGroup]="form" (ngSubmit)="onContinue()">
    <div class="w-full flex flex-wrap mb-4">
      <app-textarea formControlName="confirmPhrase" class="w-full" title="Write your Mnemonic phrase"></app-textarea>
    </div>

    <div class="w-full flex flex-wrap">
      <app-input iconPath="/assets/icons/lock-unlocked.svg"
                 formControlName="confirmPassword"
                 title="Type again your password"
                 type="password"></app-input>
    </div>
  </form>

  <div class="w-full flex flex-wrap mt-auto">
    <button [disabled]="form.invalid"
            (click)="onContinue()"
            class="w-full btn btn-primary btn--small mb-6">
      Confirm
    </button>
    <button routerLink="/create-account" class="w-full btn btn-primary btn--small btn-primary--outline">
      Start again
    </button>
  </div>

  <div class="w-full text-center mt-8">
    <small class="text-label text-base">
      xBull Wallet {{ walletVersion }}
    </small>
  </div>
</section>
