<section class="h-screen overflow-y-scroll overflow-x-hidden w-full flex flex-col px-4 py-8 justify-between container max-w-md mx-auto no-scrollbar">
  <div class="w-full flex justify-center items-center mb-6 px-2">
    <img src="/assets/icons/xbull-icon.svg" class="h-16" alt="xbull-logo">
  </div>

  <div class="w-full mb-6 px-2">
    <h2 class="text-off-white text-lg text-center font-bold m-0">
      Confirm your Mnemonic Phrase
    </h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="onContinue()">
    <div formArrayName="words" class="w-full flex flex-wrap">
      <ng-container *ngFor="let word of phraseArray.controls; let i = index">
        <div class="w-6/12 px-2 mb-4">
          <app-input type="text"
                     title="Word #{{ i + 1 }}"
                     [formControlName]="i"></app-input>
        </div>
      </ng-container>
    </div>

    <div class="w-full text-center px-6 my-auto mb-8">
      <p class="text-off-white text-xs m-0 mb-0">
        We understand this is not the best UX experience, we want to make sure you write them correctly.
      </p>
    </div>

    <div class="w-full flex flex-wrap px-2 mb-6">
      <app-input iconPath="/assets/icons/lock-unlocked.svg"
                 formControlName="confirmPassword"
                 title="Type again your password"
                 type="password"></app-input>
    </div>
  </form>

  <div class="w-full flex flex-wrap mt-auto px-2">
    <button [disabled]="form.invalid"
            (click)="onContinue()"
            class="w-full btn btn-primary btn--small mb-6">
      Confirm
    </button>
    <button routerLink="/create-account" class="w-full btn btn-primary btn--small btn-primary--outline">
      Start again
    </button>
  </div>

  <div class="w-full text-center mt-8 px-2">
    <small class="text-label text-base">
      xBull Wallet {{ walletVersion }}
    </small>
  </div>
</section>
