<section class="h-screen overflow-y-scroll overflow-x-hidden w-full flex flex-col px-4 py-8 justify-between container max-w-md mx-auto no-scrollbar">
  <div class="w-full flex justify-center items-center mb-6">
    <img src="/assets/icons/xbull-icon.svg" class="h-20" alt="xbull-logo">
  </div>

  <div class="w-full mb-4 px-2">
    <p class="text-off-white w-full font-semibold text-center mb-4">
      Confirm your Mnemonic phrase
    </p>
    <div class="w-full p-2 rounded-lg" style="border: 1px solid #434343">
      <ng-container *ngIf="phraseArray.controls.length > 0; else nonTags">
        <nz-tag *ngFor="let word of phraseArray.controls; let i = index"
                (nzOnClose)="removeWord(i)"
                nzMode="closeable">{{ word.value }}</nz-tag>
      </ng-container>

      <ng-template #nonTags>
        Write and confirm your words in the input below
      </ng-template>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onContinue()">
    <div class="w-full px-2 mb-4">
      <nz-input-group [nzSuffix]="confirmWord">
        <input
          #input
          placeholder="Write and add word by word"
          nz-input
          nzSize="large"
          formControlName="searchInput"
          (ngModelChange)="filterOptions(input.value)"
          (keydown.enter)="addWord(input.value)"
          [nzAutocomplete]="auto"
        />
        <nz-autocomplete [nzDataSource]="filteredOptions"  #auto></nz-autocomplete>
      </nz-input-group>
      <ng-template #confirmWord>
        <button nz-button (click)="$event.preventDefault(); addWord(input.value)">
          Add
        </button>
      </ng-template>
    </div>

    <div class="w-full flex flex-wrap px-2 mb-6">
      <nz-input-group nzSize="large" nzPrefixIcon="unlock">
        <input nzSize="large" nz-input
               formControlName="confirmPassword"
               placeholder="Type again your password"
               type="password" />
      </nz-input-group>
    </div>
  </form>

  <div class="w-full flex flex-wrap mt-auto px-2">
    <button [disabled]="form.invalid"
            (click)="onContinue()"
            nz-button
            nzSize="large"
            nzType="primary"
            class="w-full mb-4">
      Confirm
    </button>
    <button routerLink="/create-account"
            nz-button
            nzSize="large"
            class="w-full">
      Start again
    </button>
  </div>

  <div class="w-full text-center mt-8 px-2">
    <small class="text-label text-base">
      xBull Wallet {{ walletVersion }}
    </small>
  </div>
</section>
