<div class="w-full text-center mb-4">
  <h2 class="m-0 p-0 text-off-black font-bold text-xl">
    Transaction details
  </h2>
</div>

<section class="w-full mb-8">
  <dl>
    <dt class="text-off-black text-base font-bold mb-1">Type:</dt>
    <dd class="text-label text-sm mb-3">
      {{ operationType$ | async }}
    </dd>

    <dt class="text-off-black text-base font-bold mb-1">Date:</dt>
    <dd class="text-label text-sm mb-3">
      Pushed at {{ operationDate$ | async | date: 'MMM dd, yyyy' }}
    </dd>

    <ng-container *ngIf="payment$ | async as payment">
      <dt class="text-off-black text-base font-bold mb-1">To:</dt>
      <dd class="text-label text-sm mb-3 break-all">
        {{ payment.publicAddress }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">From:</dt>
      <dd class="text-label text-sm mb-3 break-all">
        {{ payment.ownerAccount }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">Amount:</dt>
      <dd class="text-label text-sm mb-3">
        {{ payment.amount | number: '0.0-7' }} {{ payment.assetCode }}
      </dd>
    </ng-container>
  </dl>
</section>

<section class="w-full flex">
  <div class="flex-1 pl-2">
    <button (click)="checkOnBlockchain()"
            class="w-full btn btn--small btn-off-black">
      Check in the Blockchain
    </button>
  </div>
</section>

