<div class="w-full text-center mb-4">
  <h2 class="m-0 p-0 text-off-black font-bold text-xl">
    Transaction details
  </h2>
</div>

<section class="w-full mb-8">
  <dl *ngIf="operation$ | async as operation">
    <dt class="text-off-black text-base font-bold mb-1">Type:</dt>
    <dd class="text-label text-sm mb-3">
      {{ operation.operationRecord.type }}
    </dd>

    <dt class="text-off-black text-base font-bold mb-1">Date:</dt>
    <dd class="text-label text-sm mb-3">
      Pushed at {{ operation.createdAt | date: 'MMM dd, yyyy' }}
    </dd>

    <ng-container *ngIf="operation.operationRecord.type === 'payment'">
      <dt class="text-off-black text-base font-bold mb-1">To:</dt>
      <dd appClipboard [textToCopy]="operation.operationRecord.to" class="text-label cursor-pointer text-sm mb-3 break-all">
        {{ operation.operationRecord.to }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">From:</dt>
      <dd appClipboard [textToCopy]="operation.operationRecord.from" class="text-label cursor-pointer text-sm mb-3 break-all">
        {{ operation.operationRecord.from }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">Amount:</dt>
      <dd class="text-label text-sm mb-3">
        {{ operation.operationRecord.amount | number: '0.0-7' }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">Asset code:</dt>
      <dd class="text-label text-sm mb-3">
        {{ operation.operationRecord.asset_type === 'native' ? 'XLM' : operation.operationRecord.asset_code }}
      </dd>
    </ng-container>

    <ng-container *ngIf="operation.operationRecord.type === 'path_payment_strict_send' || operation.operationRecord.type === 'path_payment_strict_receive'">
      <dt class="text-off-black text-base font-bold mb-1">To:</dt>
      <dd appClipboard [textToCopy]="operation.operationRecord.to" class="text-label cursor-pointer text-sm mb-3 break-all">
        {{ operation.operationRecord.to }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">From:</dt>
      <dd appClipboard [textToCopy]="operation.operationRecord.from" class="text-label cursor-pointer text-sm mb-3 break-all">
        {{ operation.operationRecord.from }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">Source amount:</dt>
      <dd class="text-label text-sm mb-3 break-all">
        {{ operation.operationRecord.source_amount | number: '0.0-7' }}
        {{ operation.operationRecord.source_asset_type === 'native' ? 'XLM' : operation.operationRecord.source_asset_code }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">Destination amount:</dt>
      <dd class="text-label text-sm mb-3 break-all">
        {{ operation.operationRecord.amount | number: '0.0-7' }}
        {{ operation.operationRecord.asset_type === 'native' ? 'XLM' : operation.operationRecord.asset_code }}
      </dd>

<!--      TODO: Decide if we should show this later-->
<!--      <ng-container *ngIf="operation.operationRecord.type === 'path_payment_strict_send'">-->
<!--        <dt class="text-off-black text-base font-bold mb-1">Min amount to receive:</dt>-->
<!--        <dd class="text-label cursor-pointer text-sm mb-3 break-all">-->
<!--          {{ operation.operationRecord.destination_min | number: '0.0-7' }}-->
<!--          {{ operation.operationRecord.asset_type === 'native' ? 'XLM' : operation.operationRecord.asset_code }}-->
<!--        </dd>-->
<!--      </ng-container>-->

<!--      <ng-container *ngIf="operation.operationRecord.type === 'path_payment_strict_receive'">-->
<!--        <dt class="text-off-black text-base font-bold mb-1">Max amount to send:</dt>-->
<!--        <dd class="text-label cursor-pointer text-sm mb-3 break-all">-->
<!--          {{ operation.operationRecord.source_max | number: '0.0-7' }}-->
<!--          {{ operation.operationRecord.asset_type === 'native' ? 'XLM' : operation.operationRecord.asset_code }}-->
<!--        </dd>-->
<!--      </ng-container>-->

      <dt class="text-off-black text-base font-bold mb-1">Payment path:</dt>
      <dd class="text-label text-sm mb-3 break-all">
        0: {{ operation.operationRecord.source_asset_type === 'native' ? 'XLM' : operation.operationRecord.source_asset_code }}
      </dd>
      <ng-container *ngFor="let pathStep of operation.operationRecord.path; let i = index">
        <dd class="text-label text-sm mb-3 break-all">
          {{ i + 1 }}: {{ pathStep.asset_type === 'native' ? 'XLM' : pathStep.asset_code }}
        </dd>
      </ng-container>
      <dd class="text-label text-sm mb-3 break-all">
        {{ operation.operationRecord.path.length + 1}}: {{ operation.operationRecord.asset_type === 'native' ? 'XLM' : operation.operationRecord.asset_code }}
      </dd>
    </ng-container>

    <ng-container *ngIf="operation.operationRecord.type === 'create_passive_sell_offer' || operation.operationRecord.type === 'manage_sell_offer' || operation.operationRecord.type === 'manage_buy_offer'">
      <dt class="text-off-black text-base font-bold mb-1">Offer ID:</dt>
      <dd class="text-label text-sm mb-3">
        <ng-container *ngIf="(operation.operationRecord.amount | number: '0.0-0') == '0'; else updateOffer">
          Close offer: {{ operation.operationRecord.offer_id }}
        </ng-container>
        <ng-template #updateOffer>
          {{ !operation.operationRecord.offer_id || operation.operationRecord.offer_id == '0' ? 'New offer' : 'Update offer: ' + operation.operationRecord.offer_id }}
        </ng-template>
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">Selling:</dt>
      <dd class="text-label text-sm mb-3">
        {{ operation.operationRecord.amount | number: '0.0-7' }} {{ operation.operationRecord.selling_asset_type === 'native' ? 'XLM' : operation.operationRecord.selling_asset_code }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">Buying:</dt>
      <dd class="text-label text-sm mb-3">
        {{ operation.operationRecord.buying_asset_type === 'native' ? 'XLM' : operation.operationRecord.buying_asset_code }}
      </dd>

      <dt class="text-off-black text-base font-bold mb-1">Pair rate:</dt>
      <dd class="text-label text-sm mb-3">
        1 {{ operation.operationRecord.selling_asset_type === 'native' ? 'XLM' : operation.operationRecord.selling_asset_code }}
        =
        {{ operation.operationRecord.price | number: '0.0-7' }}
        {{ operation.operationRecord.buying_asset_type === 'native' ? 'XLM' : operation.operationRecord.buying_asset_code }}
      </dd>
    </ng-container>
  </dl>
</section>

<section class="w-full flex">
  <div class="flex-1 pl-2">
    <button (click)="checkOnBlockchain()"
            class="w-full btn btn--small btn-off-black">
      Check in the Blockchain
    </button>
  </div>
</section>

