<nz-spin [nzSpinning]="sendingPayment$ | async">
  <div class="w-full text-center mb-4">
    <h2 class="m-0 p-0 text-off-white font-bold text-xl">
      Send Funds
    </h2>
  </div>

  <form [formGroup]="form" class="mb-2">
    <div class="w-full mb-4">
      <nz-input-group nzSize="large" nzAddOnBeforeIcon="key" [nzSuffix]="qr">
        <input type="text" nz-input nzSize="large" placeholder="Public key" formControlName="publicKey">
      </nz-input-group>

      <ng-template #qr>
        <i (click)="scanQr()"
           *ngIf="isMobilePlatform"
           nz-icon nzType="qrcode"
           nzTheme="outline" class="cursor-pointer"></i>
      </ng-template>
    </div>

    <div class="w-full mb-4">
      <nz-input-group nzSize="large" nzAddOnBeforeIcon="tag">
        <input type="text" nz-input nzSize="large" placeholder="Memo (optional)" formControlName="memo">
      </nz-input-group>
    </div>

    <div *ngIf="selectOptions$ | async as selectOptions" class="w-full mb-4">
      <nz-input-group nzPrefixIcon="dollar">
        <nz-select class="w-full"
                   [nzBorderless]="true"
                   formControlName="assetCode"
                   nzPlaceHolder="Select an asset">
          <nz-option *ngFor="let option of selectOptions" [nzValue]="option.value" [nzLabel]="option.name"></nz-option>
        </nz-select>
      </nz-input-group>

    </div>

    <div class="w-full">
      <nz-input-group nzSize="large" nzAddOnBeforeIcon="global">
        <input mask="separator.8"
               thousandSeparator=""
               type="text" nz-input nzSize="large" placeholder="Amount" formControlName="amount">
      </nz-input-group>
    </div>
  </form>

  <div class="w-full text-center text-label mb-7">
    <ng-container *ngIf="selectedAsset$ | async as selectedAsset; else notSelectedAsset">
      Available: {{ availableFunds$ | async | number: '0.0-7' }} {{ selectedAsset.assetCode }}
    </ng-container>

    <ng-template #notSelectedAsset>
      Available: Asset not selected
    </ng-template>
  </div>

  <div class="w-full">
    <button (click)="onSubmit()" [disabled]="form.invalid"
            nz-button
            nzSize="large"
            nzType="primary"
            nzBlock>
      Send
    </button>
  </div>

</nz-spin>
