<section class="mb-2">
  <div class="w-full">
    <nz-input-group nzSize="large" [nzPrefix]="tagIcon">
      <input type="text" nz-input [formControl]="nameField" placeholder="Wallet name">
    </nz-input-group>
    <ng-template #tagIcon>
      <div class="px-2">
        <i class="fa-solid fa-tag"></i>
      </div>
    </ng-template>
  </div>
</section>

<div class="w-full text-center mb-7 opacity-80">
  The name of the Wallet is not recorded on the Blockchain. It's only for information purposes.
</div>

<div class="w-full">
  <button (click)="onConfirm()" [disabled]="nameField.invalid"
          class="w-full btn btn-success-alternative btn--small">
    Confirm
  </button>
</div>
