<section class="container mx-auto p-4">
  <section class="w-full">
    <nz-breadcrumb class="flex">
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center" routerLink="/">
          <i class="fa-solid fa-home"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center">
          Anchors
        </a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </section>
</section>

<section class="container mx-auto flex flex-wrap mb-8">
  <div *ngFor="let anchor of networkAnchors$ | async" class="w-full md:w-4/12 lg:w-3/12 px-4 mb-4 cursor-pointer">
    <nz-card class="w-full" [routerLink]="['./', anchor._id]">
      <nz-card-meta
        [nzTitle]="anchor.name"
        [nzDescription]="anchor.url"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
      <nz-avatar [nzSrc]="anchor.image"></nz-avatar>
    </ng-template>
  </div>
</section>

<section class="container mx-auto flex justify-center pb-4">
  <button (click)="addNewAnchor()" nz-button nzType="primary">
    Add new anchor<i class="ml-2 fa-solid fa-plus"></i>
  </button>
</section>
