<section class="h-full w-full flex flex-col px-6 py-8">
  <div class="w-full flex justify-center items-center">
    <img src="/assets/icons/xbull-icon.svg" class="h-40" alt="xbull-logo">
  </div>

  <div class="w-full flex flex-wrap my-auto">
    <button class="w-full btn btn-primary btn--small mb-8">
      Generate new Wallet
    </button>
    <button class="w-full btn btn-primary btn--small mb-8">
      Connect Ledger wallet
    </button>
    <button class="w-full btn btn-primary btn--small btn-primary--outline">
      Restore Wallet
    </button>
  </div>

  <div class="w-full text-center">
    <small class="text-label text-base poppins-family">
      xBull Wallet 0.2.3
    </small>
  </div>
</section>
