<section class="min-h-full w-full flex flex-col px-6 py-8 container max-w-md mx-auto">
  <div class="w-full flex justify-center items-center">
    <img src="/assets/icons/xbull-icon.svg" class="h-40" alt="xbull-logo">
  </div>

  <div class="w-full flex flex-wrap my-auto">
    <button nz-button nzType="primary"
            nzSize="large"
            (click)="generateWallet()"
            class="w-full mb-4">
      Generate new Wallet
    </button>

    <button nz-button
            nzSize="large"
            (click)="restoreWallet()"
            class="w-full mb-4">
      Import Mnemonic phrase
    </button>

    <button nz-button
            nzSize="large"
            (click)="importSecretKey()"
            class="w-full mb-4">
      Import Secret Key
    </button>

    <button nz-button
            *ngIf="!isMobilePlatform"
            nzSize="large"
            (click)="connectHardwareWallet()"
            class="w-full mb-4">
      Connect Hardware Wallet
    </button>

    <button nz-button nzType="link"
            nzSize="large"
            *ngIf="isThereWallet$ | async"
            routerLink="/wallet/assets"
            class="w-full">
      Go back to wallets
    </button>
  </div>

  <div class="w-full text-center">
    <small class="text-label text-base">
      xBull Wallet {{ walletVersion }}
    </small>
  </div>
</section>
