<section class="container mx-auto p-4">
  <section class="w-full">
    <nz-breadcrumb class="flex">
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center" routerLink="/">
          <i class="fa-solid fa-home"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center">
          Swap Assets
        </a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </section>
</section>

<section class="w-full flex justify-center items-center">

  <div class="max-w-md w-full px-4">
    <nz-spin [nzSpinning]="sendingPathPayment$ | async">
      <nz-card class="w-full ant-card-no-padding p-4 mb-6">

        <section class="flex flex-col">

          <div class="w-full text-center mb-4">
            <h1 class="text-lg font-semibold">Swaps your assets</h1>
          </div>

          <div class="w-full mb-4">
            <div class="py-0.5 w-full flex justify-between items-center">
              <span>Send:</span>

              <ng-container *ngIf="fundsAvailableToSend$ | async as fundsAvailableToSend">
                <span (click)="fromAssetAmount.setValue(fundsAvailableToSend)" class="cursor-pointer text-xs pl-2 opacity-50">
                  Available: {{ fundsAvailableToSend | number: '0.0-7' }}
                </span>
              </ng-container>

            </div>

            <nz-input-group nzSize="large" [nzSuffix]="fromAddOn">
              <input type="text" mask="separator.8"
                     thousandSeparator=""
                     [formControl]="fromAssetAmount"
                     nz-input nzSize="large">
            </nz-input-group>
            <ng-template #fromAddOn>
              <button class="w-full flex items-center h-auto py-2 justify-center"
                      (click)="searchAsset('from')"
                      nz-button>
                <ng-container *ngIf="swapForm.value.fromAsset.asset as fromAsset; else pickAsset">
                  <div *ngIf="fromAsset.image as image" class="w-5 h-5 bg-white p-1 rounded-full mr-2">
                    <img [src]="image" class="w-full h-full rounded-full" alt="">
                  </div>

                  <p class="text-xs m-0">
                    {{ fromAsset.assetCode }}
                    <br>
                    <small class="opacity-50">
                      {{ (fromAsset.assetIssuer | publicKey) || 'native' }}
                    </small>
                  </p>
                </ng-container>
              </button>
            </ng-template>
          </div>

          <!--        <div class="w-full text-center">-->
          <!--          <button nz-button nzType="text">-->
          <!--            <i class="fa-solid fa-arrows-up-down"></i>-->
          <!--          </button>-->
          <!--        </div>-->

          <div class="w-full mb-4">
            <nz-form-label>Receive</nz-form-label>
            <nz-input-group nzSize="large" [nzSuffix]="toAddOn">
              <input type="text" mask="separator.8"
                     thousandSeparator=""
                     [formControl]="toAssetAmount"
                     nz-input nzSize="large">
            </nz-input-group>
            <ng-template #toAddOn>
              <button class="w-full flex items-center h-auto py-2 justify-center"
                      (click)="searchAsset('to')"
                      nz-button>
                <ng-container *ngIf="swapForm.value.toAsset.asset as toAsset; else pickAsset">
                  <div *ngIf="toAsset.image as image" class="w-5 h-5 bg-white p-1 rounded-full mr-2">
                    <img class="w-full h-full" [src]="image" alt="">
                  </div>

                  <p class="text-xs m-0">
                    {{ toAsset.assetCode }}
                    <br>
                    <small class="opacity-50">
                      {{ (toAsset.assetIssuer | publicKey) || 'native' }}
                    </small>
                  </p>
                </ng-container>
              </button>
            </ng-template>
          </div>

          <div class="w-full flex justify-center mb-6 items-center">
            <nz-radio-group [formControl]="formPathType" class="mr-3" nzButtonStyle="solid">
              <label nz-radio-button nzValue="send">Strict send</label>
              <label nz-radio-button nzValue="receive">Strict receive</label>
            </nz-radio-group>

            <button nz-button nzSize="small" nzType="text">
              <i class="fa-solid fa-question-circle"
                 nz-tooltip nzTooltipTitle="You can specify if you prefer to base the swap on the max amount you want to send or minimum amount to receive">
              </i>
            </button>
          </div>

          <div class="w-full flex justify-center mb-6 items-center">
            <nz-radio-group [formControl]="slippageTolerance" class="mr-3" nzButtonStyle="solid" style="z-index: 0">
              <label nz-radio-button [nzValue]="0.005">0.5%</label>
              <label nz-radio-button [nzValue]="0.01">1.0%</label>
              <label nz-radio-button [nzValue]="0.025">2.5%</label>
              <label nz-radio-button [nzValue]="0.05">5.0%</label>
            </nz-radio-group>

            <button nz-button nzSize="small" nzType="text">
              <i class="fa-solid fa-question-circle"
                 nz-tooltip nzTooltipTitle="Swaps have slippages, this is the max percentage you are willing to tolerate">
              </i>
            </button>
          </div>

          <div class="w-full">
            <button [nzLoading]="confirmingSwapAssets$ | async"
                    [disabled]="swapForm.invalid"
                    (click)="swapAssets$.next()"
                    nz-button nzType="primary"
                    nzBlock nzSize="large">
              Swap assets
            </button>
          </div>

        </section>

      </nz-card>
    </nz-spin>

    <nz-list [nzLoading]="gettingPathPaymentRecord$ | async"
             *ngIf="pathValue" nzSize="small" class="mb-6">
      <nz-list-item>
        <div>
          Swap rate:
        </div>

        <div class="opacity-80 flex items-center">
          <span>{{ exchangeRate.amount }} {{ exchangeRate.numerator }}/{{ exchangeRate.denominator }}</span>
        </div>
      </nz-list-item>
      <nz-list-item>
        <div>
          <span *ngIf="formPathType.value === 'receive'">
            Max to send: <i nz-tooltip="Max amount you will send according to your slippage tolerance" class="fa-solid fa-question-circle"></i>
          </span>
          <span *ngIf="formPathType.value === 'send'">
            Min to receive: <i nz-tooltip="Min amount you will receive according to your slippage tolerance" class="fa-solid fa-question-circle"></i>
          </span>

        </div>

        <div class="opacity-80">
          <span *ngIf="formPathType.value === 'receive'">
            {{ maxToSend(fromAssetAmount.value) }}
          </span>
          <span *ngIf="formPathType.value === 'send'">
            {{ minToReceive(toAssetAmount.value) }}
          </span>
        </div>
      </nz-list-item>
    </nz-list>
  </div>

</section>

<ng-template #pickAsset>
  <p class="text-xs m-0">
    Pick Asset
  </p>
</ng-template>
