<section class="container mx-auto p-4">
  <section class="w-full">
    <nz-breadcrumb class="flex">
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center" routerLink="/">
          <i class="fa-solid fa-home"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center">
          Swap Assets
        </a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </section>
</section>

<section class="w-full flex justify-center items-center">

  <div class="max-w-md w-full px-4">
    <app-path-payment-form mode="swap"
                           [cardTitle]="'SWAP.CARD_TITLE' | translate"
                           [receiveLabelText]="'COMMON_WORDS.RECEIVE' | translate"
                           [confirmButtonText]="'SWAP.ACTION_BUTTON' | translate"
                           [sendLabelText]="'COMMON_WORDS.SEND' | translate">
    </app-path-payment-form>
  </div>

</section>
