<ng-container *ngIf="earnStrategy$ | async as earnStrategy">
  <nz-card class="w-full cursor-pointer"
           [routerLink]="['./strategies', earnStrategy._id]"
           [nzActions]="[aprTemplate, actionEdit]">
    <nz-card-meta
      [nzTitle]="earnStrategy.name"
      [nzDescription]="description"
      [nzAvatar]="avatarTemplate"
    ></nz-card-meta>
  </nz-card>
  <ng-template #description>
    Asset: {{ earnStrategy.pointerAssetCode }}
  </ng-template>
  <ng-template #avatarTemplate>
    <nz-avatar [nzSrc]="earnStrategy.strategyImage"></nz-avatar>
  </ng-template>
  <ng-template #aprTemplate>
    {{ earnStrategy.apr | percent: '0.0-2' }} APR
  </ng-template>
  <ng-template #actionEdit>
    ${{ earnStrategy.tvl | shortAmounts }} TVL
  </ng-template>
</ng-container>
