<div class="w-full text-center mb-4">
  <h2 class="m-0 p-0 font-bold text-xl">
    {{ (networkApi$ | async)?.name }}
  </h2>
</div>

<section class="w-full mb-8">
  <dl>
    <dt class="font-bold mb-1">
      ID:
    </dt>
    <dd class="break-all opacity-80 text-sm mb-3">
      {{ (networkApi$ | async)?._id }}
    </dd>
    <dt class="font-bold mb-1">
      URL:
    </dt>
    <dd class="break-all opacity-80 text-sm mb-3">
      {{ (networkApi$ | async)?.url }}
    </dd>
    <dt class="font-bold mb-1">
      RPC:
    </dt>
    <dd class="break-all opacity-80 text-sm mb-3">
      {{ (networkApi$ | async)?.rpcUrl || 'N/A' }}
    </dd>
    <dt class="font-bold mb-1">
      Passphrase
    </dt>
    <dd class="break-all opacity-80 text-xs mb-3">
      {{ (networkApi$ | async)?.networkPassphrase }}
    </dd>
  </dl>
</section>

<div *ngIf="(networkApi$ | async)?.canRemove" class="w-full">
  <button (click)="onRemove()"
          nz-button nzSize="large" nzBlock nzDanger nzType="primary"
          [disabled]="(selectedHorizonApi$ | async)?._id === (networkApi$ | async)?._id">
    {{ 'COMMON_WORDS.REMOVE' | translate }}
  </button>
</div>

<div class="w-full mt-[1rem]">
  <button (click)="update()"
          nz-button nzSize="large" nzBlock nzType="primary">
    {{ 'COMMON_WORDS.UPDATE' | translate }}
  </button>
</div>
