<app-modal-wrapper [showModal]="showModal" (close)="onClose()">
  <div class="w-full text-center mb-4">
    <h2 class="m-0 p-0 text-off-black font-bold text-xl">
      {{ (horizonApi$ | async)?.name }}
    </h2>
  </div>

  <section class="w-full mb-8">
    <dl>
      <dt class="text-off-black text-base font-bold mb-1">
        Record ID:
      </dt>
      <dd class="break-all text-label text-sm mb-3">
        {{ (horizonApi$ | async)?._id }}
      </dd>
      <dt class="text-off-black text-base font-bold mb-1">
        Horizon URL:
      </dt>
      <dd class="break-all text-label text-sm mb-3">
        {{ (horizonApi$ | async)?.url }}
      </dd>
      <dt class="text-off-black text-base font-bold mb-1">
        Network Passphrase
      </dt>
      <dd class="break-all text-label text-sm mb-3">
        {{ (horizonApi$ | async)?.networkPassphrase }}
      </dd>
    </dl>
  </section>

  <div class="w-full">
    <button (click)="onRemove()"
            class="w-full btn btn-error-alternative btn--small">
      Remove
    </button>
  </div>
</app-modal-wrapper>
