<section class="rounded-xl flex items-center h-14 px-6 py-1.5"
         [class.bg-ash]="mode === 'light'"
         [class.bg-body]="mode === 'dark'">

  <div class="w-6/12 border-r-2 border-label pr-4 relative flex justify-between">
    <div class="flex flex-col">
      <div class="text-line font-semibold text-sm">
        <span>Asset</span>
      </div>

      <label class="w-full">
        <input class="form-input bg-transparent w-full text-line border-none p-0 text-sm font-normal"
               value="CREIT"
               disabled
               #control/>
      </label>
    </div>

    <div class="flex w-5/12 cursor-pointer">
      <img src="/assets/icons/arrow-caret-down.svg" alt="arrow-down">
    </div>
  </div>

  <div class="w-6/12 pl-4">
    <div class="text-line font-semibold text-sm text-right">
      <span>Amount</span>
    </div>

    <label class="w-full">
      <input class="form-input bg-transparent w-full text-line border-none p-0 text-sm font-normal text-right"
             value="23.56006"
             #control/>
    </label>
  </div>
</section>

