<form [formGroup]="form" class="flex flex-wrap w-full">
  <div class="w-full mb-4">
    <input type="text" nz-input nzSize="large" class="w-full" formControlName="name" placeholder="Name">
  </div>
  <div class="w-full mb-4">
    <nz-select class="w-full" nzSize="large" formControlName="passphrase" nzPlaceHolder="Network Passphrase" [nzDropdownMatchSelectWidth]="false">
      <nz-option *ngFor="let option of passphraseOptions"
                 [nzValue]="option.value"
                 [nzLabel]="option.name">
      </nz-option>
    </nz-select>
  </div>
  <div class="w-full mb-4">
    <input type="text" nz-input nzSize="large" class="w-full" formControlName="url" placeholder="Horizon URL">
  </div>
</form>

<div class="w-full text-center opacity-50 mb-7">
  *The name of the Horizon API is just a way to identify it in other places of the wallet
</div>

<div class="w-full">
  <button (click)="onConfirm()" [disabled]="form.invalid"
          nz-button nzSize="large" nzType="primary" nzBlock>
    Confirm
  </button>
</div>

