<section class="h-full w-full flex flex-col ios-safe-padding justify-start items-center container max-w-md mx-auto">
  <div class="w-full flex justify-center items-center mb-4">
    <img src="/assets/icons/xbull-dark.svg" class="h-24" alt="xbull-logo">
  </div>

  <p class="text-label font-semibold text-lg px-4 mb-8">
    {{ 'CREATE_ACCOUNT.CONNECT_HARDWARE_WALLET' | translate }}
  </p>

  <div class="w-full flex flex-wrap mb-8 max-w-xs bg-off-white rounded-xl py-6 px-2 mb-8">
    <div class="w-full flex items-center mb-6">
      <div class="px-4 w-5/12">
        <img src="/assets/images/ledger-hw-logo.svg" alt="ledger_logo">
      </div>

      <div class="px-4 w-7/12">
        <p class="text-xs text-off-black">
          {{ 'CREATE_ACCOUNT.CONNECT_OPEN_APP' | translate }}
        </p>
      </div>
    </div>

    <div class="w-full px-4">
      <button (click)="importLedgerWallet()" class="w-full btn btn-success-alternative btn--small">
        {{ 'COMMON_WORDS.CONNECT' | translate }}
      </button>
    </div>
  </div>

  <div *ngIf="showTrezor" class="w-full flex flex-wrap mb-8 max-w-xs bg-off-white rounded-xl py-6 px-2 mb-8">
    <div class="w-full flex items-center mb-6">
      <div class="px-4 w-5/12">
        <img src="/assets/images/trezor-hw-logo.svg" alt="ledger_logo">
      </div>

      <div class="px-4 w-7/12">
        <p class="text-xs text-off-black">
          {{ 'CREATE_ACCOUNT.CONNECT_BEFORE_CONTINUE' | translate }}
        </p>
      </div>
    </div>

    <div class="w-full px-4">
      <button [disabled]="!(trezorInitiated$ | async)" (click)="importTrezorWallet()" class="w-full btn btn-success-alternative btn--small">
        {{ (trezorInitiated$ | async) ? 'Connect' : 'Loading Trezor' }}
      </button>
    </div>
  </div>

  <div *ngIf="showBackButton" class="w-full text-center">
    <button routerLink="/create-account" nz-button nzSize="large">
      Go back
    </button>
  </div>
</section>
