<section class="h-full w-full flex justify-center items-center">
  <div class="text-center px-4">
    <img class="w-40 mb-4 mx-auto" src="/assets/icons/icon-128x128.png" alt="">

    <h1 class="text-center max-w-md mb-6">
      Looks like you haven't used xBull Wallet before, please go to <a class="text-primary" target="_blank" href="https://wallet.xbull.app">https://wallet.xbull.app</a>, set up your wallet and then retry.
    </h1>

    <div class="text-center max-w-md">
<!--      <button (click)="retryProcess()" nzBlock nz-button nzType="primary" nzSize="large">-->
<!--        <i class="mr-2 fa-solid fa-redo"></i> Retry-->
<!--      </button>-->
    </div>
  </div>
</section>
