<ul nz-menu nzMode="inline" nzTheme="dark">
  <li (click)="closeDrawer()" routerLink="/wallet" nz-menu-item class="flex">
    <i class="mr-4 fa-solid fa-wallet"></i>
    <span>Wallet</span>
  </li>

  <li (click)="closeDrawer()" routerLink="/swaps" nz-menu-item class="flex">
    <i class="mr-4 fa-solid fa-rotate"></i>
    <span>Swaps</span>
  </li>

  <li (click)="closeDrawer()" routerLink="/trade" nz-menu-item class="flex">
    <i class="mr-4 fa-solid fa-chart-line"></i>
    <span>Trade</span>
  </li>

  <li (click)="closeDrawer()" routerLink="/liquidity-pools" nz-menu-item class="flex">
    <i class="mr-4 fa-solid fa-water-ladder"></i>
    <span>Liquidity pools</span>
  </li>

  <li (click)="closeDrawer()" routerLink="/settings" nz-menu-item class="flex">
    <i class="mr-4 fa-solid fa-gear"></i>
    <span>Settings</span>
  </li>
</ul>
