<section class="w-full h-full grid grid-cols-12 gap-4" style="grid-template-rows: 1fr auto;">
  <ul class="col-span-12 row-span-1" nz-menu nzMode="inline" nzTheme="dark">
    <li (click)="closeDrawer()" routerLink="/wallet" nzMatchRouter nz-menu-item class="flex">
      <i class="mr-4 fa-solid fa-wallet"></i>
      <span>{{ 'COMMON_WORDS.WALLET' | translate }}</span>
    </li>

    <li (click)="closeDrawer()" routerLink="/operations" nzMatchRouter nz-menu-item class="flex">
      <i class="mr-4 fa-solid fa-list-ul"></i>
      <span>{{ 'COMMON_WORDS.OPERATIONS' | translate }}</span>
    </li>

    <li (click)="closeDrawer()" routerLink="/swaps" nzMatchRouter nz-menu-item class="flex">
      <i class="mr-4 fa-solid fa-arrows-rotate"></i>
      <span>{{ 'COMMON_WORDS.SWAPS' | translate }}</span>
    </li>

    <li (click)="closeDrawer()" routerLink="/earn" nzMatchRouter nz-menu-item class="flex">
      <i class="mr-4 fa-solid fa-piggy-bank"></i>
      <span>{{ 'COMMON_WORDS.EARN' | translate }}</span>
    </li>

    <li (click)="closeDrawer()" routerLink="/liquidity-pools" nzMatchRouter nz-menu-item class="flex">
      <i class="mr-4 fa-solid fa-water-ladder"></i>
      <span>{{ 'COMMON_WORDS.LP' | translate }}</span>
    </li>

    <li (click)="closeDrawer()" routerLink="/anchors" nzMatchRouter nz-menu-item class="flex">
      <i class="mr-4 fa-solid fa-anchor"></i>
      <span>{{ 'COMMON_WORDS.ANCHORS' | translate }}</span>
    </li>

    <li (click)="closeDrawer()" routerLink="/airdrops" nzMatchRouter nz-menu-item class="flex">
      <i class="mr-4 fa-solid fa-parachute-box"></i>
      <span>{{ 'COMMON_WORDS.AIRDROPS' | translate }}</span>
    </li>

    <li [class.hidden]="!(advanceMode$ | async)"
        (click)="closeDrawer()"
        routerLink="/lab"
        nzMatchRouter
        nz-menu-item
        class="flex">
      <i class="mr-4 fa-solid fa-flask"></i>
      <span>{{ 'COMMON_WORDS.LAB' | translate }}</span>
    </li>

    <li (click)="closeDrawer()"
        routerLink="/walletconnect"
        nzMatchRouter
        nz-menu-item
        class="flex">
      <img class="h-4 w-4 mr-4" src="/assets/images/walletconnect.svg" alt="">
      <span>WalletConnect</span>
    </li>

    <li (click)="closeDrawer()" routerLink="/settings" nzMatchRouter nz-menu-item class="flex">
      <i class="mr-4 fa-solid fa-gear"></i>
      <span>{{ 'COMMON_WORDS.SETTINGS' | translate }}</span>
    </li>
  </ul>

  <div class="col-span-12 row-span-1 grid grid-cols-2 grid-rows-1 gap-4 px-4 pb-4">
    <div class="col-span-1 row-span-1">
      <button (click)="closeDrawer()"
              routerLink="/wallet/payment"
              nz-button nzType="primary"
              nzBlock nzSize="large">
        {{ 'COMMON_WORDS.SEND' | translate }}
      </button>
    </div>
    <div class="col-span-1 row-span-1">
      <button (click)="closeDrawer()"
              routerLink="/wallet/receive"
              nz-button nzBlock
              nzSize="large">
        {{ 'COMMON_WORDS.RECEIVE' | translate }}
      </button>
    </div>
  </div>
</section>
