<section class="container mx-auto p-4">
  <section class="w-full">
    <nz-breadcrumb class="flex">
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center" routerLink="/">
          <i class="fa-solid fa-home"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center" routerLink="/lab">
          Lab
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="flex items-center">
        <a class="flex items-center">
          Merge account
        </a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </section>
</section>

<section class="w-full flex justify-center items-center">
  <div class="max-w-md w-full px-4">
    <nz-card class="w-full ant-card-no-padding p-4 mb-6">
      <section class="flex flex-col">
        <div class="w-full text-center mb-4">
          <h1 class="text-lg font-semibold">
            {{ 'LAB.MERGE_ACCOUNT' | translate }}
          </h1>
        </div>
      </section>

      <section [formGroup]="form" class="w-full mb-6">
        <div class="w-full mb-4">
          <nz-input-group nzSize="large" [nzAddOnBefore]="keyIcon" [nzSuffix]="qrPublicKey">
            <input type="text" nz-input nzSize="large"
                   [placeholder]="'FORM_PLACEHOLDERS.PUBLIC_KEY' | translate"
                   formControlName="destination">
          </nz-input-group>

          <ng-template #keyIcon>
            <i class="fa-solid fa-key"></i>
          </ng-template>

          <ng-template #qrPublicKey>
            <i class="fa-solid fa-camera cursor-pointer"
               (click)="scanPublicKey()"
               *ngIf="hasCamera | async"></i>
          </ng-template>
        </div>

        <div class="w-full mb-4">
          <nz-input-group nzSize="large" [nzAddOnBefore]="tagIcon" [nzSuffix]="qrMemo">
            <input type="text" nz-input nzSize="large"
                   [placeholder]="'FORM_PLACEHOLDERS.MEMO' | translate"
                   formControlName="memo">
          </nz-input-group>

          <ng-template #tagIcon>
            <i class="fa-solid fa-tag"></i>
          </ng-template>

          <ng-template #qrMemo>
            <i class="fa-solid fa-camera cursor-pointer"
               (click)="scanMemoText()"
               *ngIf="hasCamera | async"></i>
          </ng-template>
        </div>
      </section>

      <div class="w-full">
        <ng-container *ngIf="selectedAccountCanBeMerged$ | async; else cantMerge">
          <button [disabled]="form.invalid || (confirmDisabled$ | async)" (click)="confirm$.next()"
                  nz-button nzType="primary"
                  nzBlock nzSize="large">
            {{ 'COMMON_WORDS.CONFIRM' | translate }}
          </button>
        </ng-container>
        <ng-template #cantMerge>
          <button nz-button nzType="primary" [disabled]="true"
                  nzBlock nzSize="large">
            {{ 'LAB.CANT_BE_MERGED' | translate }}
          </button>
        </ng-template>
      </div>
    </nz-card>

    <div class="w-full text-center">
      <small class="opacity-50 text-center">
        {{ 'LAB.MERGE_ACCOUNT_DISCLAIMER' | translate }}
      </small>
    </div>
  </div>
</section>
